[cylc]
    UTC mode = True
    [[reference test]]
        required run mode = live
        live mode suite timeout = PT1M
[scheduling]
    initial cycle point = 20150101
    final cycle point = 20200101
    [[dependencies]]
        [[[P1Y]]]
            graph = """
t1[-P2Y] => t1
t1 => t1-a => t1+a => t1%a
"""
[runtime]
    [[root]]
        script = printenv CYLC_TASK_ID
    [[t1, t1-a, t1+a, t1%a]]
