#!jinja2
[meta]
    title = "Job script: test different failure traps based on batch system"
[cylc]
[scheduling]
    [[graph]]
        R1 = root
[runtime]
    {% for batch_sys in ["at", "background", "loadleveler", "pbs", "sge", "slurm"] %}
    [[foo_{{ batch_sys }}]]
        [[[job]]]
            batch system = {{ batch_sys }}
    {% endfor %}
