[meta]
    title = "hold/release test suite"

    description = """
        One task that holds then releases the suite, with
        short sleeps to make the effect on the downstream task obvious.
    """

# ref: bug-fix GitHub Pull Request #843 (5412d01)

[cylc]
    cycle point format = %Y%m%dT%H
    [[reference test]]
        live mode suite timeout = PT30S

[scheduling]
    initial cycle point = 20140101T00
    final cycle point   = 20140101T00
    [[dependencies]]
        R1 = "holdrelease => foo & bar"
        T00, T06 = "bar"
[runtime]
    [[holdrelease]]
        script = """
sleep 5
cylc hold $CYLC_SUITE_NAME
sleep 5
cylc release $CYLC_SUITE_NAME
sleep 5"""
    [[foo,bar]]
        script = true
