[cylc]
   [[reference test]]
       required run mode = live
       live mode suite timeout = 0.5 # minutes

[scheduling]
    [[dependencies]]
        graph = """FAM:finish-any => foo"""
[runtime]
    [[FAM]]
        script = "sleep 10"
    [[a,c]]
        inherit = FAM
    [[b]]
        inherit = FAM
        script = "true"
    [[foo]]
        script = "true"
