[scheduling]
    cycling mode = integer
    initial cycle point = 1
    [[dependencies]]
        [[[P1]]]
            graph = foo:x => bar
[runtime]
    [[foo]]
        script = cylc message "hello for $CYLC_TASK_CYCLE_POINT"
        [[[outputs]]]
            x = "hello for there"
            #x = "hello for []"
