#!Jinja2
[cylc]
    UTC mode = True
   [[reference test]]
       expected task failures = bad-submitter.19990101T0000Z

[scheduling]
    initial cycle point=1999
    final cycle point=1999
    [[graph]]
        P1Y="""bad-submitter:submit-failed => grepper"""
[runtime]
    [[root]]
    [[bad-submitter]]
        script = true
        platform = {{ CYLC_REMOTE_PLATFORM }}
    [[grepper]]
        script = """
            set -x
            # Test that the original command is printed
            A_LOG="$(dirname "$0")/../../bad-submitter/01/job-activity.log"
            grep '\[jobs-submit cmd\] ssh .* {{CYLC_REMOTE_PLATFORM}} .* cylc jobs-submit.*' \
                "${A_LOG}"
            # Test that some STDERR is printed, with the host name as prefix
            # TODO: re-instate this functionality
            # grep '({{CYLC_REMOTE_PLATFORM}}) .* \[STDERR\] ' "${A_LOG}"
            # Stop the suite cleanly
            cylc stop "${CYLC_SUITE_NAME}"
        """
