[cylc]
    [[reference test]]
        allow task failures = True
        expected task failures = foo.1
[scheduling]
    [[dependencies]]
        graph = """
            foo:submit => kill_foo_submit => poll_foo
            foo:submit-fail => stop
        """
            
[runtime]
    [[foo]]
        [[[job submission]]] 
            method = at
            command template = at noon tomorrow
    [[poll_foo]]
        script = sleep 5; cylc poll $CYLC_SUITE_NAME foo 1
    [[stop]]
        script = cylc stop $CYLC_SUITE_NAME
    [[kill_foo_submit]]
        script = """
            sleep 5
            ID=$(sed -n "s/^CYLC_BATCH_SYS_JOB_ID=//p" \
                 $CYLC_SUITE_RUN_DIR/log/job/1/foo/01/job.status)
            atrm $ID
        """
