[scheduling]
    initial cycle point = 20160101T00Z
    final cycle point = 20160102T00Z
    [[dependencies]]
        R1 = start => one
        PT1H = foo => bar => baz => bol
[runtime]
    [[root]]
        script = sleep 1
