[cylc]
    [[parameters]]
        i = 1..5
[scheduling]
    [[graph]]
        R1 = foo<i>
[runtime]
    [[foo<i>]]
        script = true
        platform = test platform
        [[[job]]]
            submission retry delays = PT10S
