[meta]
    title = Generate log messages for various suite connection types.
[cylc]
    abort if any task fails = True
[scheduling]
    [[dependencies]]
        graph = foo
[runtime]
    [[foo]]
        script = """
cylc get-suite-contact "${CYLC_SUITE_NAME}" > "${CYLC_TASK_LOG_ROOT}.contact"
sleep 5
# COMMAND INTERFACE:
UUID="$(uuidgen)"
cylc hold --set-uuid="${UUID}" "${CYLC_SUITE_NAME}"
# INFO INTERFACE:
cylc show --set-uuid="${UUID}" "${CYLC_SUITE_NAME}"
# BROADCAST INTERFACE:
cylc broadcast --set-uuid="${UUID}" -d "${CYLC_SUITE_NAME}"
# COMMAND INTERFACE:
cylc release --set-uuid="${UUID}" "${CYLC_SUITE_NAME}"
sleep 5"""
