title = "triggering off message outputs"

description = """
A self-contained example (task implementation, including output
messaging, is entirely contained within the suite definition)."""

[scheduling]
    initial cycle point = 201408
    final cycle point = 201412
    [[special tasks]]
    [[dependencies]]
        [[[Monthly(201408,2)]]]
          graph = """
            foo:out1 => bar
            foo[T-2]:out2 => baz
                  """
[runtime]
    [[foo]]
        command scripting = """
echo HELLO
sleep 10 
TARGET_POINT=$CYLC_TASK_CYCLE_POINT
cylc message "uploaded file 1 for $TARGET_POINT"
sleep 10
TARGET_POINT=$(cylc cycletime --offset P2M)
cylc message "uploaded file 2 for $TARGET_POINT"
sleep 10
echo BYE"""
        [[[outputs]]]
            # [T] is replaced by actual cycle time at run time:
            out1 = "uploaded file 1 for [T]"
            out2 = "uploaded file 2 for [T+2]"
