[cylc]
    cycle point time zone = Z
    [[event hooks]]
        timeout = 0.1
        abort on timeout = True
[scheduling]
    runahead factor = 3
    initial cycle time = 20100101T00
    [[dependencies]]
        [[[PT6H]]]
            graph = "foo => bar"
        [[[T12]]]
            graph = "foo:fail => shutdown"
[runtime]
    [[foo]]
        command scripting = false
    [[bar]]
        command scripting = true
    [[shutdown]]
        command scripting = cylc shutdown $CYLC_SUITE_REG_NAME
