[cylc]
    [[event hooks]]
        timeout = 0.1
        abort on timeout = True
[scheduling]
    runahead limit = 18
    initial cycle time = 2010010100
    [[dependencies]]
        [[[0,6,12,18]]]
            graph = "foo => bar"
        [[[12]]]
            graph = "foo:fail => shutdown"
[runtime]
    [[foo]]
        command scripting = false
    [[bar]]
        command scripting = true
    [[shutdown]]
        command scripting = cylc shutdown $CYLC_SUITE_REG_NAME
