[cylc]
    [[events]]
        abort on stalled = True
        abort on inactivity = True
        inactivity = PT3M

[scheduling]
    [[graph]]
        R1 = t1:finish => t2

[runtime]
    [[t1]]
        script = wait; cylc stop --now "${CYLC_SUITE_NAME}"
        [[[events]]]
            started handler = sleep 10 && echo 'Hello %(id)s %(event)s'
            succeeded handler = echo 'Well done %(id)s %(event)s'
    [[t2]]
        script = true
