
# python bytecode
*.pyc

# Generated documentation files (from 'cylc make-docs')
# - Command reference from called script 'custom/make-commands.sh'.
doc/src/appendices/command-ref.rst
# - Main directory of generated sphinx docs (guides) files.
doc/built-sphinx/
# - Installed docs
doc/install/

# VERSION FILE
VERSION

# vim backup files
*.swp

# emacs backup files
*~

# ordereddict-0.4.5 build 
ext/ordereddict-0.4.5/build

# global configuration and processed configuration
etc/job-init-env.sh
etc/global.rc
etc/global-tests.rc

# processed suite definitions
*.rc.processed

# suite passphrases
passphrase

# profiling
.profiling

# coverage
.coverage
.coverage.*
coverage.xml
htmlcov/

# vscode
.vscode/*

# pytest
.pytest_cache/v/cache/

# cherrypy
lib/cherrypy/**/*.log
lib/cherrypy/**/**/*.log
lib/cherrypy/test/test.conf

# pipenv
Pipfile

# distutils files
*.egg-info
