Alexander Paulsell         <alexander.paulsell@nrlmry.navy.mil> AlexanderPaulsell   <alexander.paulsell@nrlmry.navy.mil>
Ben Fitzpatrick            <ben.fitzpatrick@metoffice.gov.uk>   benfitzpatrick      <ben.fitzpatrick@metoffice.gov.uk>
Bruno P. Kinoshita         <bruno.kinoshita@niwa.co.nz>         Bruno P. Kinoshita  <kinow@users.noreply.github.com>
Bruno P. Kinoshita         <bruno.kinoshita@niwa.co.nz>         Bruno P. Kinoshita  <brunodepaulak@yahoo.com.br>
David Matthews             <david.matthews@metoffice.gov.uk>    dpmatthews          <david.matthews@metoffice.gov.uk>
Declan Valters             <declan.valters@ed.ac.uk>            Declan Valters      <declan.valters@metoffice.gov.uk>
Declan Valters             <declan.valters@ed.ac.uk>            Declan Valters      <dvalters@users.noreply.github.com>
Hilary James Oliver        <h.oliver@niwa.co.nz>                Hilary James Oliver <hilary.j.oliver@gmail.com>
Hilary James Oliver        <h.oliver@niwa.co.nz>                Hilary James Oliver <hilary.oliver@niwa.co.nz>
Hilary James Oliver        <h.oliver@niwa.co.nz>                hilary.oliver       <holiver@eld084.desktop.frd.metoffice.com>
Hilary James Oliver        <h.oliver@niwa.co.nz>                Hilary Oliver       <hilary@Megan-Olivers-MacBook-Pro.local>
Hilary James Oliver        <h.oliver@niwa.co.nz>                Hilary James Oliver <hilary@localhost.localdomain>
Hilary James Oliver        <h.oliver@niwa.co.nz>                Hilary Oliver       <hilary.j.oliver@gmail.com>
Jonathan Thomas            <jonathan.thomas@bom.gov.au>         Jonathan Thomas     <jthomas@dev-laptop14.bom.gov.au>
Jonathan Thomas            <jonathan.thomas@bom.gov.au>         Jonathan Thomas     <jonty_q@yahoo.com.sg>
Jonny Williams             <jonny.williams@niwa.co.nz>          williamsjh          <jonny.williams@niwa.co.nz>
Kerry Day                  <kerry.day@metoffice.gov.uk>         kaday               <kerry.day@metoffice.gov.uk>
Kerry Day                  <kerry.day@metoffice.gov.uk>         Kerry Day           <kaday@users.noreply.github.com>
Lois Huggett               <lois.huggett@metoffice.gov.uk>      lhuggett            <lois.huggett@metoffice.gov.uk>
Luis Kornblueh             <luis.kornblueh@zmaw.de>             Luis Kornblueh      <m214089@cinglung.fritz.box>
Matt Shin                  <matthew.shin@metoffice.gov.uk>      matthew.shin        <matthew.shin@metoffice.gov.uk>
Matt Shin                  <matthew.shin@metoffice.gov.uk>      matthewrmshin       <matthew.shin@metoffice.gov.uk>
Matt Shin                  <matthew.shin@metoffice.gov.uk>      matthewrmshin       <matthewrmshin@yahoo.co.uk>
Matt Shin                  <matthew.shin@metoffice.gov.uk>      Matt Shin           <matthewrmshin@yahoo.co.uk>
Martin Dix                 <martin.dix@csiro.au>                MartinDix           <martin.dix@csiro.au>
Oliver Sanders             <oliver.sanders@metoffice.gov.uk>    Oliver sanders      <oliver.sanders@metoffice.gov.uk>
Patrick Alexander Reinecke <alex.reinecke@nrlmry.navy.mil>      P. A. Reinecke      <alex.reinecke@nrlmry.navy.mil>
Prasanna Challuri          <Prasanna.Challuri@niwa.co.nz>       challurip           <Prasanna.Challuri@niwa.co.nz>
Rosalyn Hatcher            <r.s.hatcher@reading.ac.uk>          RosalynHatcher      <r.s.hatcher@reading.ac.uk>
Sadie Bartholomew          <sadie.bartholomew@metoffice.gov.uk> Sadie Bartholomew   <30274190+sadielbartholomew@users.noreply.github.com>
Sadie Bartholomew          <sadie.bartholomew@metoffice.gov.uk> sadielbartholomew   <vagrant@vagrant.vm>
Thomas Coleman             <thomas.coleman@bom.gov.au>          ColemanTom          <igenous@gmail.com>
Thomas Coleman             <thomas.coleman@bom.gov.au>          Tom Coleman         <thomas.james.coleman@gmail.com>
Tim Whitcomb               <tim.whitcomb@nrlmry.navy.mil>       Tim Whitcomb        <twhitcomb@gmail.com>
Tim Whitcomb               <tim.whitcomb@nrlmry.navy.mil>       trwhitcomb          <twhitcomb@gmail.com>
Tomek Trzeciak             <tomasz.trzeciak@metoffice.gov.uk>   TomekTrzeciak       <tomasz.trzeciak@metoffice.gov.uk>
Tomek Trzeciak             <tomasz.trzeciak@metoffice.gov.uk>   Tomek Trzeciak      <TomekTrzeciak@users.noreply.github.com>
