name: cylc-dev
channels:
  - conda-forge
dependencies:
  - ansimarkup >=1.0.0
  - colorama >=0.4,<1.0
  - graphql-core >=3.2,<3.3
  - graphene >=3.4.0,<3.5
  - graphviz  # for static graphing
  # Note: can't pin jinja2 any higher than this until we give up on Cylc 7 back-compat
  - jinja2 >=3.0,<3.1
  - metomi-isodatetime >=1!3.2.0, <1!3.3.0
  - packaging
  # Constrain protobuf version for compatible Scheduler-UIS comms across hosts
  - protobuf >=5,<8
  - psutil >=5.6.0
  - python
  - pyzmq >=22
  - urwid >=2.2,<4,!=2.6.2,!=2.6.3

# optional dependencies
  #- pandas >=1.0,<2
  #- pympler
  #- matplotlib-base
  #- sqlparse
