name: cylc-dev
channels:
  - conda-forge
dependencies:
  - aiofiles >=0.7.0,<0.8.0
  - ansimarkup >=1.0.0
  - async-timeout>=3.0.0
  - colorama >=0.4,<1.0
  - graphene >=2.1,<3
  - graphviz  # for static graphing
  - jinja2 ==2.11.0,<2.12
<<<<<<< protobuf-version-comment
  - metomi-isodatetime >=1!2.0.2, <1!2.1.0
  # Constrain protobuf version for compatible Scheduler-UIS comms across hosts
=======
  - metomi-isodatetime >=1!3.0.0, <1!3.1.0
>>>>>>> master
  - protobuf >=3.19.0,<3.20.0
  - psutil >=5.6.0
  - python
  - pyuv >=1.4.0,<1.5.0
  - pyzmq >=22,<23
  - setuptools >=49
  - urwid >=2,<3

  # https://github.com/pallets/jinja/issues/1585 (remove when upgrading
  # jinja2 to >= 3.0):
  - markupsafe <2.1

# optional dependencies
  #- empy >=3.3,<3.4
  #- pandas >=1.0,<2
  #- pympler
  #- matplotlib-base
  #- sqlparse
