name: cylc-dev
channels:
  - conda-forge
dependencies:
  - ansimarkup >=1.0.0
  - async-timeout>=3.0.0
  - colorama >=0.4,<1.0
  - graphene >=2.1,<3
  - graphviz  # for static graphing
  # Note: can't pin jinja2 any higher than this until we give up on Cylc 7 back-compat
  - jinja2 >=3.0,<3.1
  - metomi-isodatetime >=1!3.0.0, <1!3.2.0
  # Constrain protobuf version for compatible Scheduler-UIS comms across hosts
  - protobuf >=4.21.2,<4.22.0
  - psutil >=5.6.0
  - python
  - pyzmq >=22
  - setuptools >=49,!=67.*
  - importlib_metadata # [py<3.8]
  - urwid >=2,<3
  - tomli >=2 # [py<3.11]

# optional dependencies
  #- empy >=3.3,<3.4
  #- pandas >=1.0,<2
  #- pympler
  #- matplotlib-base
  #- sqlparse
