[cylc]
    UTC mode = True
    [[reference test]]
        live mode suite timeout = PT1M
[scheduling]
    [[graph]]
        R1 = "t1 => t2"
[runtime]
    [[t1]]
        script = """
cylc broadcast -n 't2' -F - "${CYLC_SUITE_NAME}" \
    <"${CYLC_SUITE_DEF_PATH}/broadcast.rc"
sleep 1
"""
    [[t2]]
        script = false
