#!jinja2

title=Test validation of blank script in automatic suite polling task
[scheduling]
    [[dependencies]]
        graph=eat<food::eat>=>full
[runtime]
    [[root]]
        script=true
    [[eat]]
        script=
        [[[suite state polling]]]
            interval=2
            max-polls=20
    [[full]]
