
initial cycle time = 2010080800
final cycle time = 2010080812

[dependencies]
    [[0,12]]
        graph = """
            pre => model
            model:fail => diagnose => recover
            model =x diagnose & recover
            model | recover => post
                """

[tasks]
    [[model]]
        command = """
echo Hello from $TASK_ID
sleep 10
if [[ $(cylc util cycletime --hour) == 12 ]]; then 
    echo "FAILING NOW!"
    false
else
    echo "Succeeded"
    true
fi
                  """

