title = cylc userguide example suite

#        B(T-6)-> B -> E   
#                / \
#  X & A(T-6)-> A   -> D 
#                \ /
#        C(T-6)-> C -> F 
#       

description = """Models A.sh, B.sh, and C.sh; post processing tasks'
D.sh, E.sh, F.sh; and data collection task X.sh. The tasks are not
cylc-aware, have their own I/O directories, and abort if their 
required input files are not present. The suite configures them
all to use a common workspace for I/O, except for private running
directories for the three warm-cycled models."""

use lockserver = False

[experimental]
#write live graph = True

[dummy mode]
#clock offset from initial cycle time in hours = 0
task run time in seconds = 1

[special tasks]
    startup          = prep
    sequential       = A, B, C
    coldstart        = ColdA, ColdB, ColdC
    clock-triggered  = X(1)

[task families]
    FOO = bar, baz

[dependencies]
    [[ 0,6,12,18 ]]
        graph =  """
                    X => A => B => E
                    A => C
                    B & C => D
                    C:foo => F
    
                    ColdA | A(T-6) => A
                    ColdB | B(T-6) => B
                    ColdC | C(T-6) => C

                    prep => X & ColdA & ColdB & ColdC
                 """
    [[ 6,18 ]]
        graph =    "F=>FOO"

[environment]
TASK_EXE_SECONDS = 5
WORKSPACE = /tmp/$USER/$CYLC_SUITE_NAME/common
RUNNING   = /tmp/$USER/$CYLC_SUITE_NAME/running
# each of these is used by ModelA and ColdA etc.:
A_RUNNING_DIR = $RUNNING/A
B_RUNNING_DIR = $RUNNING/B
C_RUNNING_DIR = $RUNNING/C

[ tasks ]
    [[prep]]
        command = cylc-wrapper clean-workspace.sh $WORKSPACE
    [[X]]
        description = "retrieve real time data for model A"
        command = cylc-wrapper X.sh
        [[[ environment ]]]
            X_OUTPUT_DIR = $WORKSPACE
    [[A]]
        description = "model A - weather forecast"
        command = cylc-wrapper A.sh
        [[[environment]]]
            A_INPUT_DIR = $WORKSPACE
            A_OUTPUT_DIR = $WORKSPACE
    [[B]]
        description = "model B - sea state forecast"
        command = cylc-wrapper B.sh
        [[[environment]]]
            B_INPUT_DIR = $WORKSPACE
            B_OUTPUT_DIR = $WORKSPACE
            FOO = bar
            FOO = baz  # (2nd value overrides 1st)
    [[C]]
        description = "model C - river flow forecast"
        #command = cylc-wrapper C.sh
        command = C-no-wrap.sh
        [[[environment]]]
            C_INPUT_DIR = $WORKSPACE
            C_OUTPUT_DIR = $WORKSPACE
        [[[outputs]]]
            foo = river flow outputs done for $(CYCLE_TIME)
    [[D]]
        description = "combined post processing for models B and C"
        command = cylc-wrapper D.sh
        [[[environment]]]
            D_INPUT_DIR = $WORKSPACE
            D_OUTPUT_DIR = $WORKSPACE
    [[E]]
        description = "post processing for model B"
        command = cylc-wrapper E.sh
        [[[environment]]]
            E_INPUT_DIR = $WORKSPACE
            E_OUTPUT_DIR = $WORKSPACE
    [[F]]
        description = "post processing for model F"
        command = cylc-wrapper F.sh
        [[[environment]]]
            F_INPUT_DIR = $WORKSPACE
            F_OUTPUT_DIR = $WORKSPACE

    [[ColdA]]
        description = "cold start model A"
        command = cylc-wrapper ColdA.sh

    [[ColdB]]
        description = "model B"
        command = cylc-wrapper ColdB.sh

    [[ColdC]]
        description = "model C"
        command = cylc-wrapper ColdC.sh

    [[FOO]]
    [[bar]]
    [[baz]]

    [[wazza]]
        # trigger a "task is defined but not used" warning.

[visualization]
    default node attributes = "style=filled"
    [[node groups]]
        models = A, B, C
        cold   = ColdA, ColdB, ColdC
        post   = D, E, F
        data   = X
    [[node attributes]]
        models = "shape=septagon"
        post   = "style=unfilled", "shape=rectangle"
        cold   = "shape=egg", "fillcolor=slateblue"
        data   = "shape=square", "fillcolor=lawngreen"
        A      = "fillcolor=red"
        C      = "fillcolor=orange"
        B      = "fillcolor=orangered"
        D      = "style=bold", "color=green4"
        E      = "style=bold", "color=blue"
        F      = "style=bold", "color=red"
