
title = main cylc userguide example suite

#        > B -> E
#       /   \
# X -> A     -> D
#       \   /
#        > C -> F

description = """This suite implements the main cylc userguide example.
'Models' A.sh, B.sh, and C.sh; 'post processing tasks' D.sh, E.sh, F.sh;
and 'external data collection task' X.sh are not cylc-aware and each
have their own independent input and output directories, but they
generate output (using the touch command) and read input (by requiring
input files to be present) such that they must execute according to the
suite dependency graph."""

use lockserver = False

[dependency graph]
    [[ 0,6,12,18 ]]
    label1  =  X -> A -> B ->  E
    label2  =  A -> C -> F
    label3  =  B C -> D
    
    # cold start the three models:
    labelc1 = model_coldstart:ColdA -> A
    labelc2 = model_coldstart:ColdB -> B
    labelc3 = model_coldstart:ColdC -> C

    # make everything depend on a special startup task
    labelx1 = coldstart:housekeeping -> X ColdA ColdB ColdC

[environment]
TASK_EXE_SECONDS = 5
WORKSPACE = /tmp/$USER/$CYLC_SUITE_NAME
# these are required by the models and their coldstart tasks:
A_RUNNING_DIR = $WORKSPACE/RunningA
B_RUNNING_DIR = $WORKSPACE/RunningB
C_RUNNING_DIR = $WORKSPACE/RunningC


[ tasks ]
    [[housekeeping]]
    command list = cylc-wrapper clean-workspace.sh $WORKSPACE,

    [[X]]
    type modifier list = clock(offset = 1 hour),
    command list = cylc-wrapper X.sh,
        [[[ environment ]]]
        X_OUTPUT_DIR = $WORKSPACE
 
    [[A]]
    type modifier list = model(restarts = 3),
    command list = cylc-wrapper A.sh,
        [[[environment]]]
        A_INPUT_DIR = $WORKSPACE
        A_OUTPUT_DIR = $WORKSPACE

    [[B]]
    type modifier list = model(restarts = 3),
    command list = cylc-wrapper B.sh,
        [[[environment]]]
        B_INPUT_DIR = $WORKSPACE
        B_OUTPUT_DIR = $WORKSPACE

    [[C]]
    type modifier list = model(restarts = 3),
    command list = cylc-wrapper C.sh,
        [[[environment]]]
        C_INPUT_DIR = $WORKSPACE
        C_OUTPUT_DIR = $WORKSPACE

    [[D]]
    command list = cylc-wrapper D.sh,
        [[[environment]]]
        D_INPUT_DIR = $WORKSPACE
        D_OUTPUT_DIR = $WORKSPACE
 
    [[E]]
    command list = cylc-wrapper E.sh,
        [[[environment]]]
        E_INPUT_DIR = $WORKSPACE
        E_OUTPUT_DIR = $WORKSPACE
 
    [[F]]
    command list = cylc-wrapper F.sh,
        [[[environment]]]
        F_INPUT_DIR = $WORKSPACE
        F_OUTPUT_DIR = $WORKSPACE

    [[G]]
    command list = cylc-wrapper G.sh,
        [[[environment]]]
        G_INPUT_DIR = $WORKSPACE
        G_OUTPUT_DIR = $WORKSPACE

    [[ColdA]]
    description = "fulfils restart dependencies for model A"
    command list = cylc-wrapper ColdA.sh,

    [[ColdB]]
    description = "fulfils restart dependencies for model B"
    command list = cylc-wrapper ColdB.sh,

    [[ColdC]]
    description = "fulfils restart dependencies for model C"
    command list = cylc-wrapper ColdC.sh,
