[cylc]
   [[reference test]]
       required run mode = live
       live mode suite timeout = PT1M
[scheduling]
    [[dependencies]]
        graph = "foo"
[runtime]
    [[foo]]
        retry delays = 3*PT6S
        script = "((CYLC_TASK_TRY_NUMBER >= 4)) || exit 1"
        # ( '|| exit 1' required to trigger error trap in bash 4.2.0)
