[cylc]
    [[event hooks]]
        timeout = 0.2
        abort on timeout = True
[scheduling]
    runahead limit = 12 # marker
    initial cycle time = 2010010100
    final cycle time = 2010010500
    [[dependencies]]
        [[[0]]]
            graph = "foo:fail => reloader"
        [[[0,6,12,18]]]
            graph = "foo => bar"
[runtime]
    [[foo]]
        command scripting = false
    [[bar]]
        command scripting = true
    [[reloader]]
        command scripting = """
# change the dependencies section name to garbage:
perl -pi -e 's/(runahead limit = )12( # marker)/\1 18\2/' $CYLC_SUITE_DEF_PATH/suite.rc
# reload
cylc reload -f $CYLC_SUITE_NAME
"""
