[cylc]
    UTC mode = True
    [[event hooks]]
        timeout = 0.2
        abort on timeout = True
[scheduling]
    initial cycle time = 2010-01-01
    final cycle time = 2010-01-05
    runahead limit = PT12H # marker
    [[dependencies]]
        [[[T00]]]
            graph = "foo:fail => reloader"
        [[[T00/PT6H]]]
            graph = "foo => bar"
[runtime]
    [[foo]]
        command scripting = false
    [[bar]]
        command scripting = true
    [[reloader]]
        command scripting = """
# change the dependencies section name to garbage:
perl -pi -e 's/(runahead limit = )PT12H( # marker)/\1 PT18H\2/' $CYLC_SUITE_DEF_PATH/suite.rc
# reload
cylc reload -f $CYLC_SUITE_NAME
"""
