#!Jinja2
[cylc]
   [[reference test]]
       required run mode = live
       live mode suite timeout = PT1M
[scheduling]
    [[dependencies]]
        graph = t1
[runtime]
    [[t1]]
        script = grep -q 'CYLC_COMMS_PROTOCOL={{EXPECTED}}' < <(cylc get-suite-contact "${CYLC_SUITE_NAME}")
