[cylc]
   [[reference test]]
       required run mode = live
       live mode suite timeout = PT1M
[scheduling]
    [[dependencies]]
        graph = "foo"
[runtime]
    [[foo]]
        script = true 
