#!Jinja2

# use with test_spec.py

unquoted = the quick # comment
continuation = the quick \
brown fox
[level 1] # comment
    single-quoted = 'the quick # internal' # comment
    [[level 2]] # comment
        double-quoted = "the quick # internal" # comment
        [[[level 3]]] # comment
            single-line triple-single-quoted = '''the quick # internal''' # comment
            single-line triple-double-quoted = """the quick # internal""" # comment
# TODO -            empty value =
    [[level 2_2]] # comment
        # multiline value with internal continuation too:
        multiline value = """the quick \
brown \
fox jumped over # internal
the lazy dog""" # comment
        line one = "the quick brown fox"
        line two = "jumped over the lazy dog"

[level 1_1] # comment
    unquoted list = the, quick, brown # comment
    single-quoted list = 'the', 'quick', 'brown' # comment
    double-quoted list = "the", "quick#internal", "brown" # comment

[validation] # test validation of non-string values
    # string and string list tested above
    integer value = 1
    float value = 1.1
    boolean value = False
    another boolean value = True
    integer list = 1 , 2, 3, # with whitespace and trailing commas
    float list = 1.1, 2.1, \
                    3.1      # line continuation mid-list
    multiplier float list = 1.1, 3*2.1, 3.1 # comment

