[cylc]
   [[reference test]]
       required run mode = live
       live mode suite timeout = 0.5 # minutes
[scheduling]
    [[dependencies]]
        graph = "foo"
[runtime]
    [[foo]]
        script = cylc scan | grep $CYLC_SUITE_NAME
