title = "Intercycle dependence + an asynchronous task"
[scheduling]
    #runahead limit = 120
    initial cycle time = 2013080800
    final cycle time = 2013081200
    [[dependencies]]
        graph = prep
        [[[0,12]]]
            graph = "prep & foo[T-12] => foo => bar"
[visualization]
    initial cycle time = 2013080800
    final cycle time = 2013080812
    [[node attributes]]
        foo = "color=red"
        bar = "color=blue"

