[general]
    UTC mode = True # Ignore DST
    [[events]]
        stalled handler = cylc reset %(suite)s bar -s succeeded
    [[reference test]]
        allow task failures = true
        live mode suite timeout=PT1M
[scheduling]
    [[graph]]
        R1 = foo => bar => baz

[runtime]
    [[foo,baz]]
        script = true
    [[bar]]
        script = false
