[scheduling]
    initial cycle point = 20100101T00
    [[dependencies]]
        [[[T00,T06,T12]]]
            graph = "foo"
[runtime]
    [[root]]
        [[[event hooks]]]
            execution timeout = 3
