[meta]
    title = "cylc hold --after"

    description = """One task that holds future cycles after a given cycle."""

[cylc]
    UTC mode = True
    [[events]]
        abort on inactivity = true
        abort on stalled = true
        abort on timeout = true
        inactivity = PT30S
        timeout = PT30S

[scheduling]
    initial cycle point = 20140101T00
    final cycle point   = 20140104T00
    [[dependencies]]
        R1 = """
            stopper
            holdafter => foo
        """
        T00, T12 = foo[-PT12H] => foo => bar
[runtime]
    [[holdafter]]
        script = cylc hold --after '20140101T12' "${CYLC_SUITE_NAME}"
    [[stopper]]
        script = """
            while ! grep -qF '[bar.20140102T0000Z] -waiting => held (waiting)' \
                "${CYLC_SUITE_LOG_DIR}/log"
            do
                sleep 1
            done
            cylc stop "${CYLC_SUITE_NAME}"
        """
        [[[job]]]
            execution time limit = PT1M
    [[foo, bar]]
        script = true
