[cylc]
   UTC mode = True
[scheduling]
    initial cycle point = 20100101T00
    final cycle point = 20100102T00
    [[graph]]
        T00 = "a[-P1D] & b => a"
[runtime]
    [[a, b]]
        script = true
