[general]
title = REPLACE WITH SUITE DESCRIPTION
allow simultaneous instances = False
maximum runahead (hours) = 24

[task insertion groups]

[job submission]
default = background

[global environment]

