OPS_OBSTORE_DIR = $OBSTORE_DIR
OPS_BACKERR     = $BGERR_FILE

OPS_UMBACK_LIST = $PREVIOUS_PP7CX_FILE

OPS_VAROB_DIR   = $VAROB_DIR
OPS_CX_DIR_LIST = $VARCX_DIR

OPS_LISTING_DIR = $LISTING_DIR

GEN_OUTPUT_DIR  = $LOG_DIR/$TASK_NAME
GEN_RUN_DIR     = $RUNNING_DIR  
GEN_BUILD_DIR   = $CYLC_SUITE_DIR/build/ops/oaamz

OPS_WRAPPER_OPTIONAL_REPLACEMENTS = OPS_SATRADSTATS_DIR OPS_AIRSSTATS_DIR \
    OPS_SCATSTATS_DIR OPS_STATIONLIST_DIR OPS_SONDECOEFFS_DIR \
    OPS_RTTOV7COEFFS_DIR OPS_SATRADCOEFFS_DIR OPS_SATRADBIASES_DIR \
    OPS_SATWINDNL_DIR OPS_SCATWINDCOEFFS_DIR OPS_GPSROCOEFFS_DIR

OPS_SATRADSTATS_DIR    = $STATS_DIR/satrad
OPS_AIRSSTATS_DIR      = $STATS_DIR/airs
OPS_SCATSTATS_DIR      = $STATS_DIR/scat

OPS_STATIONLIST_DIR    = $CTRL/OPS/control/StationLists/ATMOS/CAM/PS24
OPS_SATRADBIASES_DIR   = $CTRL/Data/SatRad_biases/my/v11
OPS_SATWINDNL_DIR      = $CTRL/OPS/control/Satwind_namelists/default/v5
OPS_SCATWINDCOEFFS_DIR = $CTRL/OPS/control/Scatwind_coeffs/default/v14
OPS_GPSROCOEFFS_DIR    = $CTRL/Data/GPSRO_coeffs/my/v3

OPS_SONDECOEFFS_DIR    = $SONDECOEFFS_DIR
OPS_RTTOV7COEFFS_DIR   = $RTTOV7COEFFS_DIR
OPS_SATRADCOEFFS_DIR   = $SATRADCOEFFS_DIR
