#!Jinja2

[scheduling]
    initial cycle point = 01231212T1212
    [[dependencies]]
        [[[R1]]]
            graph = strftime => pad => end
[runtime]
    [[strftime]]
        pre-script = if [[ $TEST_1 != '00' ]]; then fail; fi
        script = if [[ $TEST_2 != '30' ]]; then fail; fi
        [[[environment]]]
            TEST_1 = {{ '2000' | strftime('%H') }}
            TEST_2 = {{ '12-30-2000' | strftime('%d', '%m-%d-%Y') }}
    [[pad]]
        script = if [[ {{ 42 | pad(3, 0) }} != '042' ]]; then fail; fi
    [[end]]
        script = true
