title = family failure cleanup task example number 1

description = """
Illustrates use of a special task to clean up failed tasks. Here the
cleanup task runs whether or not the family fails, but it only cleans up
if necessary. See also family failure cleanup task example number 2, and
the AutoRecover examples for recovery tasks that only run if needed."""

[scheduling]
    initial cycle point = 2011010106
    final cycle point = 2011010200
    [[dependencies]]
        [[[0,6,12,18]]]
            graph =  """A => fam
        A[T-6] => A # (just to slow the suite down)
    fam:finish-all & fam:succeed-any => B
   fam:finish-all & fam:succeed-any => fam_cleanup"""
[runtime]
    [[fam]]

    [[m_foo]]
        inherit = fam
        script = sleep 8 

    [[m_bar]]
        inherit = fam
        script = """
# Fail at 6,18, succeed at 0,12:
HH=$( cylc cycle-point --print-hour )
if (( HH == 06 || HH == 18 )); then
    COMMAND=/bin/false
else
    COMMAND=/bin/true
fi
sleep 5
$COMMAND"""

    [[m_baz]]
        inherit = fam
        script = sleep 10

    [[fam_cleanup]]
        description = "this is a family failed task cleanup task"
        script = fam_cleanup.sh
