#!Jinja2
{% set HOST = environ['CYLC_TEST_BATCH_TASK_HOST'] %}
{% set SITE_DIRECTIVES = environ['CYLC_TEST_BATCH_SITE_DIRECTIVES'] %}
[cylc]
   [[reference test]]
       required run mode = live
       live mode suite timeout = 2.5 # minutes
       expected task failures = rem2.1
[scheduling]
    [[dependencies]]
        graph = """rem1 => rem2
                   rem2:start => killer => !rem2
                   """
[runtime]
    [[SLURM_SETTINGS]]
        [[[job submission]]]
            method = slurm
        [[[directives]]]
            --time = 02:00
            --nodes = 1
            --tasks-per-node = 1
            --cpus-per-task = 1
            {{SITE_DIRECTIVES}}
        [[[remote]]]
            host = {{ HOST }}
    [[rem1]]
        inherit = SLURM_SETTINGS
        script = "sleep 10; true"
    [[rem2]]
        inherit = SLURM_SETTINGS
        script = "sleep 30"
    [[killer]]
        script = cylc kill $CYLC_SUITE_NAME rem2 1 -f; sleep 10
