<div id="footer">
            <div class="page">
                <div class="container">
                    <div class="column" style="width:25%">
                        <h4>Support</h4>
                        <ul>
                            <li><a href="https://groups.google.com/d/forum/cylc">Forum</a></li>
                            <li><a href="https://github.com/cylc/cylc/issues">Issues</a></li>
                        </ul>
                    </div>  <!--column-->
                    <div class="column" style="width:25%">
                        <h4>About</h4>
                        <ul>
                            <li><a href="users.html">Users</a></li>
                            <li><a href="license.html">License</a></li>
                        </ul>
                    </div>  <!--column-->
                    <div class="column" style="width:25%">
                        <h4>Development</h4>
                        <ul>
                            <li><a href="https://github.com/cylc/cylc">Repository</a></li>
                            <li> <a href="{{site.github.repository_url}}/blob/master/CHANGES.md">Changes</a>
 
                        </ul>
                    </div>  <!--column-->
                    <div class="column" style="width:25%">
                        <a href="index.html" id="logo_bot">
                            <span style="color:#ff5966">c</span>
                            <span style="color:#eebb00">y</span>
                            <span style="color:#00c798">l</span>
                            <span style="color:#00b4fd">c</span>
                        </a>
                    </div>  <!--column-->
                </div>  <!--container-->
            </div>  <!--page-->
        </div>  <!--footer-->
