<div id="header">
            <div class="page">
                <div class="container">
                    <div class="column">
                        <a href="index.html" id="logo_top">
                            <span style="color:#ff5966">c</span>
                            <span style="color:#eebb00">y</span>
                            <span style="color:#00c798">l</span>
                            <span style="color:#00b4fd">c</span>
                        </a>
                    </div>  <!--column-->
                    <div class="column">
                        <div id="nav">
                            <a href="features.html">Features</a>
                            <a href="screenshots.html">Screenshots</a>
                            <a href="documentation.html">Documentation</a>
                            <a href="support.html">Support</a>
                        </div>  <!--nav-->
                    </div>  <!--column-->
                </div>  <!--container-->
            </div>  <!--page-->
        </div>  <!--header-->
