
title = "gcontrol task state color theme demo"
description = """This suite contrives to use every possible task state,
to show what they look like live in the gcontrol GUI."""

[scheduling]
    initial cycle time = 2012080800
    final cycle time = 2012081200
    # Set a runahead limit halfway to the final cycle, in order to see
    # tasks in the 'runahead' state (twice the min cycling interval is
    # the default anyway: 48 hours in this case). 
    runahead limit = 48 
    [[queues]]
        # Use internal queues to see tasks in the "queued" state
        [[[fam_queue]]]
            limit = 2
            members = family
    [[special tasks]]
        cold-start = cfoo
    [[dependencies]]
        [[[0]]]
            graph =  """
    cfoo | foo[T-24] => foo => family
    family:finish-all => bar
    foo => bad
    bar => !bad
                     """

[runtime]
    [[root]]
        # delay all tasks slightly in the 'submitted' state
        initial scripting = "sleep 5"
    [[family]]
    [[m1,m2,m3]]
        inherit = family
    [[m_x]]
        inherit = family
        title = "this task succeeds on the third try "
        retry delays = 0.2, 0.2
        command scripting = """
sleep 10
if [[ $CYLC_TASK_TRY_NUMBER < 3 ]]; then
    cylc task message -p WARNING ABORTING
    exit 1
fi"""
    [[bad]]
        title = "A task that always fails"
        description = """Failed instances of this task are removed from the suite
at the end of each cycle by a suicide trigger."""
        command scripting = "sleep 10; exit 1"

[visualization]
    use node color for labels = True
    [[node attributes]]
        family = "style=filled", "color=#0000aa", "fillcolor=yellow"
