title = NZLAM 3DVAR Suite
description = NZLAM 3DVAR Suite

# this is a demo suite with real task implementation stripped out.
dummy mode only = True

job submission log directory = $HOME/running/logs/nzlam
job submission method = ll_basic
use lockserver = True

[experimental]
    write live graph = True

[special tasks]
    sequential = forecast
    coldstart = get_globaldump, GLtoGL_recon, GLtoNZ_recon, forecast_cold 
    clock-triggered = get_globaldump(3), get_obstore(3), get_bgerr(3), get_frames(-2.25) 
    # frames clock: we use frames from previous UKMO global run, ready ~2.25 hours before cycle time.
 
[task families]
    OPS = OPS_AircraftSonde, OPS_AIRS, OPS_ATOVS, OPS_GPSRO, OPS_IASI, OPS_SurfaceScatt, OPS_Satwind

[dependencies]
    [[0,6,12,18]]
        graph = """
        # cold start from reduced global dump
        get_globaldump => GLtoGL_recon => GLtoNZ_recon => forecast_cold
        # UM forecast needs LBC ...
        get_frames => make_alabc => forecast_cold & forecast
        # ... and analysis increments from VAR
        OPS & VAR_ConfigureLS => VAR_AnalysePF => forecast & VAR_monitoring
        # NZLAM post processing 
        forecast => get_outputs => nc_conv_met & housekeeping
        # OPS needs bgerr and obstores
        get_obstore & get_bgerr => OPS
        # OPS and VAR need backgrounds from previous forecast, or coldstart
        forecast_cold | forecast(T-6) => VAR_ConfigureLS & OPS"""
    [[6,12,18]]
        graph = """
        # trigger forecast of previous forecast, or cold start
        forecast_cold | forecast(T-6) => forecast"""
    [[0]]
        graph = """
        # at 0 UTC reconfigure the start dump
        forecast_cold | forecast(T-6) => NZtoNZ_recon => forecast"""
 
[environment]
%include inc/vars/global.rc

[tasks]
%include inc/tasks/ops.rc
%include inc/tasks/var.rc
%include inc/tasks/get-data.rc
%include inc/tasks/preproc.rc
%include inc/tasks/um.rc
%include inc/tasks/postproc.rc
%include inc/tasks/housekeeping.rc

[visualization]
    default node attributes = "style=filled"
    #default edge attributes = "style=bold"
    #use node color for edges = False
    [[node groups]]
	    coldstart = get_globaldump, GLtoGL_recon, GLtoNZ_recon, forecast_cold 
	    var       = VAR_ConfigureLS, VAR_AnalysePF
	    ops       = OPS
        um        = forecast_cold, forecast
        pre       = get_frames, make_alabc, get_bgerr, get_obstore
	    post      = get_outputs, nc_conv_met, VAR_monitoring
    [[node attributes]]
        coldstart = "fillcolor=lightblue"
        var       = "fillcolor=pink", "shape=rectangle"
        ops       = "fillcolor=yellow", "shape=circle"
        um        = "shape=septagon"
        forecast  = "fillcolor=orchid"
	    pre       = "style=unfilled", "color=blue"
 	    post      = "style=unfilled", "color=red"
        NZtoNZ_recon = "shape=septagon", "fillcolor=seagreen2"
