
[cylc]
    [[reference test]]
        required run mode = live
        live mode suite timeout = 1.0

[scheduling]
    initial cycle time = 2012010100
    final cycle time = 2012010118
    [[dependencies]]
        [[[0,6,12,18]]]
            graph = "a[T+6] => b"

[runtime]
    [[a,b]]
        script = "/bin/true" # fast
