title = heavily modified userguide example suite

#        B(T-6)-> B -> E   
#                / \
#  X & A(T-6)-> A   -> D 
#                \ /
#        C(T-6)-> C -> F 
#       

description = """This suite is used for testing cylc features. See
the unmodified userguide example for a clear exposition of basic
functionality."""

#job submission shell = /usr/bin/ksh

#dummy mode only = True

use lockserver = True
use secure passphrase = True

task submitted hook script         = alert.sh
task started hook script           = alert.sh
task finished hook script          = alert.sh
task failed hook script            = alert.sh
task warning hook script           = alert.sh
task submission failed hook script = alert.sh
task timeout hook script           = timeout.sh
task submission timeout in minutes = 0.0

#use crude safety lock = True
#ignore task owners = True
#job submission method = ll_basic

#tasks to include at startup = prep, X, ColdA, A

#use suite blocking = True

pre-command scripting = '''
echo hello world!
'''
post-command scripting = '''
echo goodbye world!
'''

[dummy mode]
#clock offset from initial cycle time in hours = 0
task run time in seconds = 1

[special tasks]
    startup          = prep
    sequential       = A, B
    coldstart        = ColdA, ColdB, ColdC
    clock-triggered  = X(1)
    models with explicit restart outputs = C

[task families]
    FOO = bar, baz
    BAR = war, waz

[dependencies]
    [[ 0,6,12,18 ]]
        graph =  """
                    X => A => B => E
                    A => C
                    B & C => D
                    C:foo => F

                    # The following variations work:
                    #C(T-6):foo => F
                    #F:fail => G
                    #F | F:fail => G
                    #F(T-6):fail => G
    
                    ColdA | A(T-6) => A
                    ColdB | B(T-6) => B
                    ColdC | C(T-18):r18 | C(T-12):r12 | C(T-6):r6 => C

                    prep => X & ColdA & ColdB & ColdC
                 """
    [[ 6,18 ]]
        graph = """
                   F=>FOO => BAR
                   bar => baz"""

[environment]
    TASK_EXE_SECONDS = 15
    WORKSPACE = /tmp/$USER/$CYLC_SUITE_NAME/common
    RUNNING   = /tmp/$USER/$CYLC_SUITE_NAME/running
    # each of these is used by ModelA and ColdA etc.:
    A_RUNNING_DIR = $RUNNING/A
    B_RUNNING_DIR = $RUNNING/B
    C_RUNNING_DIR = $RUNNING/C
    # quotes required because of the '#' character:
    A_SHELL_PARAMETER_EXPANSION="${WORKSPACE##_.*}"

[ tasks ]
    [[prep]]
        command = cylc wrap clean-workspace.sh $WORKSPACE
        pre-command scripting = """
echo tweet!
"""
        post-command scripting = """
echo twaat!
"""

    [[X]]
        description = "retrieve real time data for model A"
        task started hook script = alert2.sh
        command = cylc wrap X.sh
        [[[ environment ]]]
            X_OUTPUT_DIR = $WORKSPACE
        scripting = \
"""
echo hello
mkdir /tmp/munge
echo bye
"""
    [[A]]
        description = "model A - weather forecast"
        command = cylc wrap A.sh
        [[[environment]]]
            A_INPUT_DIR = $WORKSPACE
            A_OUTPUT_DIR = $WORKSPACE
%include common/common-env.rc

    [[B]]
        description = "model B - sea state forecast"
        command = cylc wrap B.sh
        [[[environment]]]
            B_INPUT_DIR = $WORKSPACE
            B_OUTPUT_DIR = $WORKSPACE
            FOO = bar
            FOO = baz  # (2nd value overrides 1st)
%include common/common-env.rc

    [[C]]
        description = "model C - river flow forecast"
        command = cylc wrap C.sh
        #command = C-no-wrap.sh
        [[[environment]]]
            C_INPUT_DIR = $WORKSPACE
            C_OUTPUT_DIR = $WORKSPACE
            FAIL_CYCLE_TIME = 2010080812
%include common/common-env.rc
        [[[outputs]]]
            foo = river flow outputs done for $(CYCLE_TIME)
            r6  = restart files done for $(CYCLE_TIME+6)
            r12 = restart files done for $(CYCLE_TIME+12)
            r18 = restart files done for $(CYCLE_TIME+18)
    [[D]]
        description = "combined post processing for models B and C"
        command = cylc wrap D.sh
        #command = D-no-wrap.sh
        #command = cylc wrap D-fail.sh, cylc wrap D.sh,
        task execution timeout in minutes = 0.0
        #reset execution timeout on incoming messages = False
        # job submission method = ll_basic
        [[[environment]]]
            D_INPUT_DIR = $WORKSPACE
            D_OUTPUT_DIR = $WORKSPACE
    [[E]]
        description = "post processing for model B"
        command = cylc wrap E.sh
        [[[environment]]]
            E_INPUT_DIR = $WORKSPACE
            E_OUTPUT_DIR = $WORKSPACE
    [[F]]
        description = "post processing for model F"
        command = cylc wrap F.sh
        [[[environment]]]
            F_INPUT_DIR = $WORKSPACE
            F_OUTPUT_DIR = $WORKSPACE

    [[ColdA]]
        description = "cold start model A"
        command = cylc wrap ColdA.sh

    [[ColdB]]
        description = "model B"
        command = cylc wrap ColdB.sh

    [[ColdC]]
        description = "model C"
        command = cylc wrap ColdC.sh

    [[FOO]]
    [[bar]]
    [[baz]]

    [[wazza]]
        # trigger a "task is defined but not used" warning.

[visualization]
    default node attributes = "style=filled"
    show family members = True
    [[node groups]]
        models = A, B, C
        cold   = ColdA, ColdB, ColdC
        post   = D, E, F
        data   = X
    [[node attributes]]
        models = "shape=septagon"
        post   = "style=unfilled", "shape=rectangle"
        cold   = "shape=egg", "fillcolor=slateblue"
        data   = "shape=square", "fillcolor=lawngreen"
        A      = "fillcolor=red"
        C      = "fillcolor=orange"
        B      = "fillcolor=magenta3"
        D      = "style=bold", "color=green4"
        E      = "style=bold", "color=blue"
        F      = "style=bold", "color=red"
