#!jinja2
[scheduling]
    [[graph]]
        R1 = foo & bar
[runtime]
    [[root]]
        script = true
    [[bar]]
        [[[remote]]]
            host = $(no-such-command)
    [[foo]]
        [[[job]]]
            batch system = at
            batch submit command template = no-such-command
