#!jinja2
[meta]
    title = "release tasks test suite"

    description = """One task that holds then selectively releases tasks in the
first cycle point of the suite."""

[cylc]
    UTC mode = True
[scheduling]
    initial cycle point = 20141009T00
    [[graph]]
        R1 = holdrelease => foo & stop
        P1D = foo => bar
[runtime]
    [[holdrelease]]
        script = """
wait
cylc hold "${CYLC_SUITE_NAME}"
while ! grep -qF 'INFO - Command succeeded: hold_suite()' \
    "${CYLC_SUITE_LOG_DIR}/log"
do
    sleep 1
done
# Release tasks in the first cycle point.
cylc release "$CYLC_SUITE_NAME" '{{RELEASE_MATCH}}.20141009T0000Z'
"""
    [[foo,bar]]
        script = true
    [[stop]]
        script = cylc stop "${CYLC_SUITE_NAME}"
