
[scheduling]
    initial cycle time = 1
    final cycle time = 9
    # TODO - GENERALIZE AND DUMP THE 'start-up' SPECIAL TASK CATEGORY:
    # by making cross-graph-section triggers apply to just the first
    # instance of the section sequence?
    [[special tasks]]
        start-up = start
    [[dependencies]]
        [[[ R1/c1/P2 ]]]
            # once at T0
            graph = start
        [[[ R/c1/P2 ]]]
            # repeat with step 2, from T0 + 1
            graph = "start & foo[T-2] => foo"
        [[[ R/c3/P2 ]]]
            # repeat with step 2 from T0 + 3
            graph = "foo => bar"
        [[[ R2/4/6 ]]]
            # repeat twice, at 4 and 6
            graph = "foo => qux"
        [[[ R1/8/P2 ]]]
            # once at 8
            graph = "bar => stop"

[visualization]
    default node attributes = "style=filled", "shape=box"
    use node color for edges = False
    [[node attributes]]
        bar = "fillcolor=skyblue"
        qux = "fillcolor=limegreen"
        start = "fillcolor=lemonchiffon"
        stop = "fillcolor=orange"
