title = "Cylc Admin Test Suite"

# This suite was used as an all-purpose test in the early days of cylc, before
# the automated test battery. It is a working versino of the suite used as an
# example in the User Guide introduction chapter.

# TODO: rewrite this suite for cylc-6+ cycling and to use shared workspaces
# based on the suite work and share directories.

#        B[T-6]-> B -> E
#                / \ 
#  X & A[T-6]-> A   -> D
#                \ /
#        C[T-6]-> C -> F

[scheduling]
    initial cycle point = 2013
    [[special tasks]]
    start-up         = prep
    cold-start       = ColdA, ColdB, ColdC
    clock-triggered  = X(1)

    [[dependencies]]
        [[[0,6,12,18]]]
            graph = """
                    X => A => B => E
                    A => C => F
                    B & C => D
    
                    ColdA | A[T-6] => A
                    ColdB | B[T-6] => B
                    ColdC | C[T-6] => C

                    prep => X & ColdA & ColdB & ColdC"""
[runtime]
    [[root]]
        script = """
mkdir -p $INPUT_DIR $OUTPUT_DIR
${CYLC_TASK_NAME}.sh"""
        [[[environment]]]
            TASK_EXE_SECONDS = 10
            WORKSPACE  = $CYLC_SUITE_SHARE_DIR
            RUNNING    = $WORKSPACE/running
            INPUT_DIR  = $WORKSPACE
            OUTPUT_DIR = $WORKSPACE

    [[Model]]
        description = "Model task"
        pre-script = mkdir -p $RUNNING_DIR
        [[[environment]]]
            RUNNING_DIR = $RUNNING/$CYLC_TASK_NAME

    [[Cold]]
        inherit = Model
        description = "Model cold start task"
      [[[environment]]]
            # Needs the corresponding model running dir
            RUNNING_DIR = "$RUNNING/${CYLC_TASK_NAME#Cold}"

    [[Post]]
        description = "Post processing task"

    [[prep]]
        description = "Clean out the suite workspace for a new run"
        script = clean-workspace.sh $WORKSPACE

    [[X]]
        description = "Retrieve real time data for model A"

    [[A,B,C]]
        inherit = Model

    [[D,E,F]]
        inherit = Post

    [[ColdA,ColdB,ColdC]]
        inherit = Cold
 
[visualization]
    default node attributes = "style=filled"
    [[node attributes]]
        Model = "shape=septagon"
        Post   = "style=", "shape=rectangle"
        Cold   = "shape=egg", "fillcolor=slateblue"
        X   = "shape=box", "fillcolor=lawngreen"
        A      = "fillcolor=red"
        B      = "fillcolor=magenta3"
        C      = "fillcolor=orange"
        D      = "style=bold", "color=green4"
        E      = "style=bold", "color=blue"
        F      = "style=bold", "color=red"
