[cylc]
    cycle point time zone = +01
[scheduling]
    initial cycle point = 20100101T00
    final cycle point   = T06+PT6H
    [[graph]]
        T00, T06, T12, T18 = "foo[-PT6H] => foo"

[runtime]
    [[foo]]
        script = true
