[cylc]
    [[reference test]]
        live mode suite timeout = 1.0
        suite shutdown event handler = log-check.sh
    
[scheduling]
    [[dependencies]]
        graph = "foo"
[runtime]
    [[foo]]
        command scripting = """
cylc message -p WARNING "WARNING - this is just a test!"
"""
        [[[remote]]]
            # divorce us from the cylc server environment
            host = localhost
        [[[event hooks]]]
            submitted handler = handler.sh
            started handler = handler.sh
            succeeded handler = handler.sh
            warning handler = handler.sh

            submission timeout handler = handler.sh
            submission timeout = 0.0001

            execution timeout handler = handler.sh
            execution timeout = 0.001

