[cylc]
    [[reference test]]
        live mode suite timeout = 0.5
        suite shutdown event handler = log-check.sh
    
[scheduling]
    [[dependencies]]
        graph = "foo"
[runtime]
    [[foo]]
        # stay in 'submitted' state for 2 secs:
        initial scripting = sleep 2
        command scripting = """
sleep 5
cylc message -p WARNING "WARNING - this is just a test!"
"""
        [[[remote]]]
            # divorce us from the cylc server environment
            host = localhost
        [[[event hooks]]]
            submitted handler = handler.sh
            started handler = handler.sh
            succeeded handler = handler.sh
            warning handler = handler.sh

            submission timeout handler = handler.sh
            # submission timeout after about 1 sec
            submission timeout = 0.01

            execution timeout handler = handler.sh
            # execution timeout after about 1 sec
            execution timeout = 0.01 

