[meta]
    title = Authentication test suite.
    description = """Stalls when the first task fails.
                     Here we test out a multi-line description!"""
    custom_metadata = something_custom
    another_metadata = 1
[cylc]
    [[events]]
        timeout = PT30S
        abort on timeout = True
[scheduling]
    [[dependencies]]
        graph = foo => bar
[runtime]
    [[foo]]
        script = /bin/false
    [[bar]]
        script = /bin/true
