[cylc]
    UTC mode = True
[scheduling]
    initial cycle time = 20140101
    final cycle time = 20140102T12
    [[dependencies]]
        [[[ R5/PT3H ]]]
            graph = "xyzzy => bar"
[runtime]
    [[root]]
        command scripting = true
