[scheduling]
    initial cycle time = 2010010100
    [[dependencies]]
        [[[0]]]
            graph = "bar[T-6] => foo"
        [[[12]]]
            graph = "foo[T-6] => bar"
[runtime]
    [[foo]]
        command scripting = sleep 5
    [[bar]]
        command scripting = rm -rf $CYLC_SUITE_RUN_DIR
