
#_______________________________________________________________________
# THIS IS THE CYLC SITE CONFIGURATION FILE FOR PARAMETERS THAT USERS
# CANNOT OVERRIDE. See also $CYLC_DIR/conf/user/cylc.rc.
#-----------------------------------------------------------------------

# Legal site config items are defined by $CYLC_DIR/conf/site/cfgspec.
# WARNING: every single item in the spec file MUST be configured below.

location of suite port files = "$HOME/.cylc/ports/"

[documentation]
    # files under $CYLC_DIR do not need to be overridden at sites
    html documentation index file = "$CYLC_DIR/doc/index.html"
    pdf user guide file = "$CYLC_DIR/doc/CylcUserGuide.pdf"
    multi-page html user guide file = "$CYLC_DIR/doc/cug-html.html"
    single-page html user guide file = "$CYLC_DIR/doc/single/cug-html.html"
    # neither should the internet URLs:
    internet homepage url = "http://cylc.github.com/cylc/"
    internet documentation index url = "http://cylc.github.com/cylc/#documentation"
    # (but see "local documentation index url" in the user config file)

[pyro]
    base port number = 7766
    maximum number of ports = 100

