# All legals ways of defining float lists should parse to the same result.
[float_list]
    [[1.0_2.0_3.0_3.0_3.0_3.0_4.0_5.0_5.0_6.0]]
        item 1 =  1.0,2.0,3.0,3.0,3.0,3.0,4.0,5.0,5.0,6.0 # comment
        item 2 =  1.0,  2.0,3.0,3.0,  3.0  ,  3.0, 4.0,  5.0  ,5.0,6.0 # comment
        item 3 =  1.0,2.0,4*3.0,4.0,2*5.0,6.0 # comment
        item 4 =  "1.0","2.0","3.0","3.0","3.0",  "3.0", "4.0","5.0",  "5.0", "6.0" # comment
        item 5 =  "1.0","2.0","4*3.0","4.0","2*5.0","6.0" # comment
        item 6 =  '1.0','2.0','3.0','3.0','3.0',  '3.0', '4.0','5.0',  '5.0', '6.0' # comment
        item 7 =  '1.0','2.0','4*3.0','4.0','2*5.0','6.0' # comment
        item 8 =  1.0,  2.0,3.0,\
    3.0,  3.0  ,  3.0, 4.0,  5.0  ,5.0,6.0 # comment
