title = "Trigger off a family of tasks"
[scheduling]
    [[dependencies]]
        graph = """
          foo => GREETERS
      GREETERS:succeed-all => bar
                """
[runtime]
    [[root]]
        # slow fast test tasks down a bit
        pre-command scripting = "sleep 10"
    [[foo]]
        # empty (dummy task)
    [[bar]]
        # empty (dummy task)
    [[GREETERS]]
        command scripting = "echo $GREETING World!"
    [[greeter_1]]
        inherit = GREETERS
        [[[environment]]]
            GREETING = Hello
    [[greeter_2]]
        inherit = GREETERS
        command scripting = HelloWorld.sh

