
title = "Illustrates use of internal outputs and cycle time offsets."

# In internal task outputs, as in the graph, cycle time offsets are
# interpreted by the cycling module in use.

description = """
A suite containing a task with intercycle dependence expressed in terms
of an internal task output: foo[T] depends on foo[T-1]:x, where the
output message is explicited target at the next cycle."""

[scheduling]
    initial cycle point = 2010
    final cycle point = 2011
    [[dependencies]]
        [[[R1]]]
            graph = """
                cfoo => foo
            """
        [[[P1Y]]]
            graph = """foo[-P1Y]:x => foo => bar"""

[runtime]
    [[foo]]
        command scripting = """
sleep 5
cylc task message "foo stuff ready for $(cylc cycletime --offset-year=1)"
# TO DO: extend the cycle time utility
sleep 5
                            """
        [[[outputs]]]
            x = "foo stuff ready for [T+1]"
