title = "One task takes 20 sec to succeed, another to fail."
[cylc]
    [[reference test]]
        live mode suite timeout = 1.0
[scheduling]
    [[dependencies]]
        graph = """
             good & bad
          bad:fail => !bad
                """
[runtime]
    [[good]]
        command scripting = "sleep 20"
    [[bad]]
        command scripting = "sleep 20; /bin/false"

