#!jinja2

title = "polls for success and failure tasks in another suite"
[cylc]
    [[reference test]]
        live mode suite timeout = PT1M
[scheduling]
    [[dependencies]]
        graph = "lgood<{{UPSTREAM}}::good> & lbad<{{UPSTREAM}}::bad:fail>"
[runtime]
    [[lgood,lbad]]
        [[[suite state polling]]]
            interval = PT2S
            max-polls = 20
