[general]
title = Nested example suite
allow simultaneous instances = False
maximum runahead (hours) = 24

[task insertion groups]

[job submission]
default = background

[global environment]
CYLC_TMPDIR = /tmp/$USER/$CYLC_SUITE_NAME
REAL_TIME_ACCEL = 360

