[cylc]
    # for the pre-ISO8601 reference log:
    cycle point format = "%Y%m%d%H"
   [[reference test]]
       required run mode = live
       live mode suite timeout = 1.0 # minutes
[scheduling]
    initial cycle time = 20140107
    final cycle time = 20140118
    runahead limit = 2 # enforce sequential running
    [[dependencies]]
        [[[ R/+PT6H/P3D ]]]
            # daily cycling *with a non-zero hour* is a more stringent test
            graph = "a"
[runtime]
    [[a]]
        command scripting = "sleep 1"

[visualization]
    initial cycle time = 20140107
    final cycle time = 20140118

