#!Jinja2
[cylc]
   [[events]]
       abort on timeout = True
       timeout = PT2M
[scheduling]
    [[graph]]
        R1 = foo
[runtime]
    [[foo]]
        script = """
for I in $(seq 1 100); do
    echo "from $CYLC_TASK_NAME $I"
    sleep 1
done"""
        platform={{environ['CYLC_REMOTE_PLATFORM'] | default("localhost")}}
