[general]
title = implementation of the main cylc userguide example suite
allow simultaneous instances = False
maximum runahead (hours) = 24
coldstart tasks = startup, coldstart
job log directory =

[task insertion groups]

[job submission]
default = background
;default = at_now

[global environment]
TASK_RUN_TIME_SECONDS = 10
CYLC_TMPDIR = /tmp/$CYLC_SUITE_NAME
FOO = ${HOME##*_}
BAR = ${HOME%%_*}
BAZ = ${HOME%%%%_*}

[dependency graph]
default node color = gray
default edge color = red
default node shape = ellipse
use node color for edges = True
color A = blue
color B = yellow
color C = green
color F = green
color D = yellowgreen
color E = yellow
color startup = steelblue
color coldstart = steelblue
color X = red
shape X = box
