[general]
title = implementation of the main cylc userguide example suite
allow simultaneous instances = False
maximum runahead (hours) = 24
coldstart tasks = startup, coldstart
job log directory =
;tasks not instantiated at startup = E,F
state dump rolling archive length = 40 

[task insertion groups]

[job submission]
default = background
;default = at_now

[global environment]
TASK_RUN_TIME_SECONDS = 10
CYLC_TMPDIR = /tmp/$CYLC_SUITE_NAME
FOO = ${HOME##*_}
BAR = ${HOME%%_*}
BAZ = ${HOME%%%%_*}

[dependency graph defaults]
node attributes = style=filled, fillcolor=gray, color=blue, shape=ellipse
edge attributes = color=black, style=bold
use node color for edges = True

[dependency graph node attributes]
contact attributes = shape=septagon, color=black
contact nodes = X

coldstart attributes = style=unfilled, shape=box, color=black
coldstart nodes = startup, coldstart

red attributes = fillcolor=orange, color=invis
yellow attributes = fillcolor=yellow, color=invis
blue attributes = fillcolor=skyblue, color=invis
green attributes = fillcolor=green, color=invis

red nodes = A
yellow nodes = C,F
blue nodes = B,E
green nodes = D
