title = "How to parameterise a workflow that contains families."

# The base workflow with family member-to-member and all-all triggers:
# graph = """prep => OBS_GET => OBS_PROC
#               OBS_PROC:succeed-all => DA => done"""

[cylc]
    [[parameters]]
        m = 3  # number of times to replicate obs processing and DA.
[scheduling]
    [[dependencies]]
        graph = """
            prep => OBS_GET<m> => OBS_PROC<m>
            OBS_PROC<m>:succeed-all => DA<m> => done"""
[runtime]
    [[MEM<m>]]
    [[OBS_GET<m>, OBS_PROC<m>, DA<m>]]
        inherit = MEM<m>
    [[obs_get_a<m>, obs_get_b<m>, obs_get_c<m>]]
        inherit = OBS_GET<m>
    [[obs_proc_a<m>, obs_proc_b<m>, obs_proc_c<m>]]
        inherit = OBS_PROC<m>
    [[da_a<m>, da_b<m>, da_c<m>]]
        inherit = DA<m>
[visualization]
    [[node attributes]]
        MEM<m=0> = "color=orange"
        MEM<m=1> = "color=limegreen"
        MEM<m=2> = "color=steelblue"
