
[scheduling]
    initial cycle point = 2010080800
    runahead factor = 4
    [[special tasks]]
        cold-start = cold
    [[dependencies]]
        [[[PT6H]]]
            graph = """
( LongForecast[-PT6H] & LongForecast ) | cold => ObSensitivity
Analysis[+PT12H] => ObSensitivity
Analysis
                """

