[cylc]
   UTC mode = True
   [[reference test]]
       required run mode = live
       live mode suite timeout=PT1M
[scheduling]
    initial cycle point = 20100101T00
    final cycle point = 20100102T00
    [[dependencies]]
        PT6H = "(a[-PT6H] & b) & c[-PT6H] => a & c"
[runtime]
    [[a, b, c]]
        script = "sleep 1"
