title = "Example of family member-to-member dependence"
[scheduling]
    [[dependencies]]
        graph = """
            pre => GET_PETS
        GET_PETS:succeed-mem => FEED_PETS
        FEED_PETS:succeed-all => post"""
[runtime]
    [[pre]]
    [[post]]
    [[GET_PETS]]
    [[FEED_PETS]]
    [[get_cats, get_dogs, get_fish]]
        inherit = GET_PETS
    [[feed_cats, feed_dogs, feed_fish]]
        inherit = FEED_PETS
