title = "Two cycling tasks, no inter-cycle dependence"
[scheduling]
    initial cycle time = 2013080800
    final cycle time = 2013081200
    [[dependencies]]
        [[[0,12]]] # 00 and 12 hours every day
            graph = "foo => bar"
[visualization]
    initial cycle time = 2013080800
    final cycle time = 2013080900
    [[node attributes]]
        foo = "color=red"
        bar = "color=blue"

