[scheduling]
    [[queues]]
        [[[people_queue]]]
            limit = 1
            members = person_a, person_b
    [[dependencies]]
        graph = """
            person_a & person_b
        """
[runtime]
    [[person_a,person_b]]
        script = sleep 10
