[cylc]
   [[reference test]]
       required run mode = live
       live mode suite timeout = PT1M
[scheduling]
    [[dependencies]]
        graph = a:start => b
[runtime]
    [[a]]
        script = sleep 20
    [[b]]
        script = cylc poll "$CYLC_SUITE_NAME" 'a.1'
