[general]
title = A trivial suite containing one free task that is constrained to run sequentially
allow simultaneous instances = False
maximum runahead (hours) = 24

[task insertion groups]

[job submission]
default = background

[global environment]

