title = "family failure task event hook example"

description = """
Illustrates use of a task event hook script to clean up failed tasks."""

[scheduling]
    initial cycle time = 2011010106
    final cycle time = 2011010200
    [[special tasks]]
        sequential = A  # (just to slow the suite down)

    [[dependencies]]
        [[[0,6,12,18]]]
            graph =  """A => fam
                    fam:finish => B"""
[runtime]
    [[fam]]
        [[[event hooks]]]
            failed handler = failhook.sh
    [[m_foo]]
        inherit = fam
        command scripting = sleep 8 
    [[m_bar]]
        inherit = fam
        # This family member always fails
        command scripting = "sleep 5; /bin/false"
    [[m_baz]]
        inherit = fam
        command scripting = sleep 10
