[cylc]
    UTC mode = True
    [[event hooks]]
        timeout = PT0.1M
        abort on timeout = True
[scheduling]
    initial cycle point = 20100101T00
    final cycle point = 20100105T00
    [[dependencies]]
        # Intervals are all 24 hours, but we really have a 6 hour repetition.
        [[[T00, T06, T12, T18]]]
            graph = "foo => bar"
[runtime]
    [[foo]]
        command scripting = false
    [[bar]]
        command scripting = true
