[cylc]
    [[events]]
        abort on stalled = True
        timeout handler = cylc release '%(suite)s'
        timeout = PT5S
[scheduling]
    [[dependencies]]
        graph = t1
[runtime]
    [[t1]]
        script = true
