[cylc]
   [[reference test]]
       required run mode = live
       live mode suite timeout = 0.5 # minutes

[scheduling]
    [[dependencies]]
        graph = "foo:succeed => bar"
[runtime]
    [[foo,bar]]
        command scripting = "true"
