
[themes]
    [[classic]]
        defaults  = "color=#bbbbbb", "style=filled", "fontcolor=black"
        waiting   = "color=#8fb8fb"
        queued    = "color=#9f219a", "fontcolor=white"
        submitting= "color=#d2800a",  "style=unfilled"
        submitted = "color=#d2800a"
        running   = "color=#0ace0a"
        succeeded = "color=#ada5a5"
        failed    = "color=#ff0000", "fontcolor=white"
        runahead  = "color=#215f9e", "fontcolor=white"
        held      = "color=#fff80a"
        retrying  = "color=#ff7cee"

    [[cylcy]]
        defaults  = "color=#bbbbbb", "style=filled", "fontcolor=black"
        waiting   = "color=#8fd6e9"
        queued    = "color=#ff00ff", "style=unfilled"
        submitting= "color=#d2800a",  "style=unfilled"
        submitted = "color=#ffa700"
        running   = "color=#00e000"
        succeeded = "color=#cfcfcf"
        failed    = "color=#ff0000", "fontcolor=white"
        runahead  = "color=#6383c1", "style=unfilled", "fontcolor=#6383c1"
        held      = "color=#ccc300",  "style=unfilled", "fontcolor=#ccc300"
        retrying  = "color=#ff0000", "style=unfilled", "fontcolor=#ff0000"

    [[high-contrast]]
        defaults  = "color=#bbbbbb", "style=filled", "fontcolor=white"
        waiting   = "color=#0000aa"
        queued    = "color=#ff00ff"
        submitting= "color=#d2800a",  "style=unfilled"
        submitted = "color=#ff8800"
        running   = "color=#00aa00"
        succeeded = "color=#000000"
        failed    = "color=#ff0000"
        runahead  = "color=#00ffff", "fontcolor=black"
        held      = "color=#ffff00", "fontcolor=black"
        retrying  = "color=#00aaff"

    [[color-blind]]
         # Ten colors that are apparently distinguishable by people with
         # most forms of color-blindness:
         #   http://safecolors.rigdenage.com/colourchoice.html
         # We can also style=filled/unfilled to help discrimate states.
        defaults  = "color=#bbbbbb", "style=filled", "fontcolor=black"
        waiting   = "color=#00ccff" # blue
        queued    = "color=#336600" # moss green
        submitting= "color=#d2800a",  "style=unfilled"
        submitted = "color=#ff9933" # orange
        running   = "color=#66ff33" # lime green
        succeeded = "color=#cccccc" # grey
        failed    = "color=#ff3333" # red
        held      = "color=#9900cc" # purple
        runahead  = "color=#cc9999" # dusky pink
        retrying = "color=#009999" # turquoise
        # (10th color: black)

