title = a simple example suite

#use lockserver = True

description = """A clock-triggered data-gathering task, a warm-cycled
model, and two post-processing tasks (one runs every second cycle). The
tasks are not cylc-aware, have independently configured I/O directories,
and abort if their input files do not exist. This suite gets them all
to run out of a common I/O workspace (although the warm-cycled model
uses a private running directory for its restart files)."""
 
# T = 0,6,12,18 UTC:
#                      > PostA(T)
#                     /    
#  GetData(T) -> Model(T)
#             /       \    
#       Model(T-6)     > [6,18 UTC only] PostB(T)

[special tasks]
    startup         = Prep
    coldstart       = ColdModel
    sequential      = Model
    clock-triggered = GetData(1)

[dependencies]
    [[ 0,6,12,18 ]]
        graph  =  """Prep => GetData & ColdModel
                     GetData => Model => PostA
                     ColdModel | Model(T-6) => Model"""
    [[ 6,18 ]]
        graph = "Model => PostB"

[environment]
TASK_EXE_SECONDS = 5
WORKSPACE = /tmp/$USER/$CYLC_SUITE/common

[tasks]
    [[Prep]]
        description = "prepare the suite workspace for a new run"
        command = cylc wrap clean-workspace.sh $WORKSPACE

    [[GetData]]
        description = "retrieve data for the current cycle time"
        command = cylc wrap GetData.sh
        [[[environment]]]
            GETDATA_OUTPUT_DIR = $WORKSPACE

    [[ColdModel]]
        description = "cold start the forecast model"
        command = cylc wrap Model.sh --coldstart
        [[[environment]]]
            MODEL_INPUT_DIR = $WORKSPACE
            MODEL_OUTPUT_DIR = $WORKSPACE
            MODEL_RUNNING_DIR = $WORKSPACE/Model

    [[Model]]
        description = "the forecast model"
        command = cylc wrap Model.sh
        [[[environment]]]
            MODEL_INPUT_DIR = $WORKSPACE
            MODEL_OUTPUT_DIR = $WORKSPACE
            MODEL_RUNNING_DIR = $WORKSPACE/Model
 
    [[PostA]]
        description = "post processing for model, every cycle"
        command = cylc wrap PostA.sh
        [[[environment]]]
            POSTA_INPUT_DIR = $WORKSPACE
            POSTA_OUTPUT_DIR = $WORKSPACE

    [[PostB]]
        description = "post processing for model, 6,18 UTC only"
        command = cylc wrap PostB.sh
        [[[environment]]]
            POSTB_INPUT_DIR = $WORKSPACE
            POSTB_OUTPUT_DIR = $WORKSPACE

[visualization]
    [[node groups]]
        post = PostA, PostB
        models = ColdModel, Model
    [[node attributes]]
        post  = "style=unfilled", "color=blue", "shape=rectangle"
        PostB = "style=filled", "fillcolor=seagreen2"
        models  = "style=filled", "fillcolor=red"
        ColdModel = "fillcolor=lightblue"
        GetData = "style=filled", "fillcolor=yellow", "shape=septagon"
        Prep = "shape=box", "style=bold", "color=red3" 
