# Test job submission modules in lib/python/ and python/ (deprecated).

[cylc]
   [[reference test]]
       required run mode = live
       live mode suite timeout = PT30S

[scheduling]
    [[dependencies]]
        graph = foo & bar

[runtime]
    [[root]]
        script = true # quick
    [[foo]]
        [[[job submission]]]
            # python/my_background.py  (deprecated location)
            method = my_background
    [[bar]]
        [[[job submission]]]
            # lib/python/my_background2.py
            method = my_background2
