[cylc]
   [[reference test]]
       required run mode = live
       live mode suite timeout = 0.5 # minutes

[scheduling]
    [[dependencies]]
        graph = "foo"

[runtime]
    [[foo]]
        command scripting = "true" # quick
        [[[job submission]]]
            # use python/my_background.py:my_background
            method = my_background
