[cylc]
    [[events]]
        startup handler = "/usr/bin/false"
        abort if startup handler fails = True

[scheduling]
    [[graph]]
        R1 = "foo"

[runtime]
    [[root]]
        script = "/usr/bin/true" # no sleep
