[cylc]
    cycle point format = CCYY
    [[parameters]]
        state = waiting_held, waiting, queued, expired, submit-failed, submitted, failed, succeeded, running
    [[events]]
        inactivity = PT10S
        timeout = PT10S
        abort on inactivity = True
        abort on timeout = True

[scheduling]
    initial cycle point = 2000
    [[queues]]
        [[[myq]]]
            members = task<state=queued>
    [[graph]]
        P1Y = """
            task<state=failed>[-P1Y] => reset => task<state>
            reset:fail => stop
            task<state=failed>:fail => stop
            task<state=succeeded> => stop
            task<state=running>:started => stop
        """
[runtime]
    [[task<state=failed>]]
        script = false
        [[[job]]]
            execution retry delays = 2*PT0S
    [[task<state=succeeded>]]
        # run two jobs to make sure the most recent job is chosen
        # for the icon in the task node
        script = test $CYLC_TASK_SUBMIT_NUMBER -ge 1
        [[[job]]]
            execution retry delays = 2*PT0S
    [[task<state=running>]]
        script = sleep 100

    [[A]]
        # test simple family with nested family
    [[task<state=queued>]]
        inherit = A

    [[B]]
        # task status grouping
        inherit = A
    [[task<state=running>, task<state=succeeded>, task<state=waiting_held>]]
        inherit = B


    [[C]]
        # test multiple familes in one level of the tree
    [[task<state=submit-failed>]]
        inherit = C

    [[D]]
        # test empty family (shouldnt show)


    [[reset]]
        script = """
            cylc hold "$CYLC_SUITE_NAME" task_waiting_held.2000

            cylc reset "$CYLC_SUITE_NAME" task_expired.2000 -s expired
            cylc reset "$CYLC_SUITE_NAME" task_submitted.2000 -s submitted
            cylc reset "$CYLC_SUITE_NAME" task_submit-failed.2000 -s submit-failed

            cylc trigger "$CYLC_SUITE_NAME" task_failed.2000
            cylc trigger "$CYLC_SUITE_NAME" task_running.2000
            cylc trigger "$CYLC_SUITE_NAME" task_succeeded.2000

            exit 1  # prevent waiting from running
        """
    [[stop]]
        script = """
            cylc__job__poll_grep_suite_log -F '[stop.2000] status=submitted: (received)started'
            cylc stop "$CYLC_SUITE_NAME" --now --now
        """
