[meta]
    title = A simple test
    description = """A simple test to simply test whether cylc scan is
                     doing the right thing - let's see what happens."""
    datum = metadatum
    another_datum = another_metadatum

[cylc]
    [[reference test]]
        required run mode = live
        live mode suite timeout = PT1M
[scheduling]
    [[dependencies]]
        graph = "foo"
[runtime]
    [[foo]]
    [[bar]]
    [[baz]]
