#!Jinja2

{% if not FOO is defined %}
    {{ raise('FOO must be defined.') }}
{% endif %}

{{ assert(ANSWER | int == 42, 'Universal constant incorrectly set.') }}

{{ assert(listrange(2) == [0, 1], 'issue with listrange') }}

[scheduling]
    [[dependencies]]
        graph = foo
