#!Jinja2

{% set obs_types = ['airs', 'iasi'] %}

{% set resource = { 'airs':'ncpus=9', 
                    'iasi':'ncpus=20' } %}

[scheduling]
    [[dependencies]]
        graph = OBS
[runtime]
    [[OBS]]
        [[[job submission]]]
            method = pbs
    {% for i in obs_types %}
    [[ {{i}} ]]
        inherit = OBS
        [[[directives]]]
             -I = {{ resource[i] }}
     {% endfor %}
