title = EcoConnect Operational Suite
description = "EcoConnect Operation, circa August 2011"

# This is a version of the NIWA suite ecoconnect suite with some
# operational settings removed (e.g. remote task ownership and 
# execution, and external task scripts removed) ... to serve 
# as a simulation-mode-only large suite example.

# CURRENT STATUS: JUST TRANSLATED TO THE NEW RUNTIME SUITE FORMULATION.
# As such the suite runs (in sim mode) with a sensible runtime
# inheritance hierarchy BUT inheritance has not yet been utilized to
# make efficient use of common configuration settings.

[cylc]
    required run mode = simulation # demo suite, taken out of context
    [[accelerated clock]]
        offset = 0

[scheduling]
    #runahead limit = 48
    initial cycle time = 2011010106
    final cycle time = 2011010206

    [[special tasks]]
        sequential = topnet, ricom, nztide, mos_nzlam_coeffs, \
                     mos_nzlam_apply, ext_get_clidbdata, \
                     mos_nzlam_vp_5day, mos_nzlam_vp_curr, UM_nzlam, nzwave, \
                     ext_create_streamflow, globalwave, ncep_get, ncep_run, ncep_xml

        clock-triggered =  ext_get_clidbdata(2.0), ext_create_streamflow(3.0), \
                           ecan_rain_obs(2.0), ext_check_globalwind_ukmet(4.30), \
                           ext_check_globalice_ukmet(4.30), ext_check_frames_ukmet(-2.25), \
                           ext_check_bgerr_ukmet(3.15), ext_check_obstore_ukmet(3.15), \
                           ext_check_sst_ukmet(3.50), ext_check_dump_ukmet(-1.25), ncep_get(6)

        cold-start = ext_check_dump_ukmet, ext_get_dump_ukmet, \
                UM_nzlam_coldstart, UM_GLtoGL_recon, UM_GLtoNZ_recon, \
                globalwave_cold, topnet_cold, \
                ricom_cold, nzwave_cold

    [[dependencies]] 
        [[[0,6,12,18 ]]]
            graph = """
    # UKMO data 
    ext_check_bgerr_ukmet => ext_get_bgerr_ukmet => unpack_bgerr
    ext_check_obstore_ukmet => ext_get_obstore_ukmet => unpack_obstores
    ext_check_frames_ukmet => ext_get_frames_ukmet => unpack_frames
    UM_nzlam => ukmodata_housekeeping

    # NZLAM (UM, OPS, VAR) 
    unpack_bgerr & unpack_obstores => OPS
    unpack_frames => make_alabc => UM_nzlam
    OPS:succeed-any & OPS:finish-all & VAR_ConfigureLS => VAR_AnalysePF => UM_nzlam
    UM_nzlam => get_um_output => nzlam_conv_met & nzlam_conv_tn & nzlam_conv_sls & nzlam_conv_escape

    # NZLAM restart and cold start
    ext_check_dump_ukmet => ext_get_dump_ukmet => UM_GLtoGL_recon => UM_GLtoNZ_recon => UM_nzlam_coldstart
    UM_nzlam_coldstart | UM_nzlam[T-6] => VAR_ConfigureLS & OPS

    # NZWAVE (runs in every cycle)
    nzlam_conv_sls => nzwave

    # Housekeeping
    cycle_check_transfer => jobsubmission_housekeeping
    
    # Topnet
    nzlam_conv_tn => tn_llclean """

        [[[6,12,18]]]
            graph = """
    # NZLAM triggers off previous or cold start (at 0 we also reconfigure)
    UM_nzlam_coldstart | UM_nzlam[T-6] => UM_nzlam"""

        [[[6,18]]]
            graph = """
    # NZLAM product generation and housekeeping
    # Parallel NZLAM product generation
    nzlam_conv_met => nzlam_ncl 
    nzlam_ncl & mos_nzlam_apply => nzlam_products => nzlam_housekeeping

    # NZWAVE product generation and housekeeping
    nzwave => nzwave_ncl => nzwave_products => nzwave_housekeeping

    # NZTIDE (tied to NZWAVE) plus product generation and housekeeping
    nzwave => nztide => nztide_ncl => nztide_products => nztide_housekeeping

    # RiCOM product generation and housekeeping
    nzlam_conv_sls => ricom => ricom_ncl => ricom_products => ricom_housekeeping

    # TopNET
    ecan_rain_obs
    ext_create_streamflow => ext_get_streamq
    tn_llclean & ext_get_streamq => topnet => topnet_ncl => topnet_products => topnet_housekeeping

    # NZLAM MOS
    ext_get_clidbdata => mos_nzlam_coeffs
    mos_nzlam_coeffs & nzlam_conv_met =>  mos_nzlam_apply
    mos_nzlam_apply => mos_nzlam_vp_curr => mos_nzlam_vp_5day => mos_housekeeping

    # Restart and cold start for the downstream models
    nzwave_cold | nzwave[T-6] => nzwave #| nzwave[T-12] | nzwave[T-18] | nzwave[T-24] | nzwave[T-30] | nzwave[T-36] | nzwave[T-42] | nzwave[T-48] => nzwave 
    ricom_cold | ricom[T-12] => ricom #| ricom[T-24] | ricom[T-36] | ricom[T-48] => ricom
    topnet_cold | topnet[T-12] => topnet """#| topnet[T-24] | topnet[T-36] => topnet """

        [[[0,12]]]
            graph = """
    # NZWAVE restart and cold start (short forecast at 0,12 UTC)
    nzwave_cold | nzwave[T-6] => nzwave #| nzwave[T-12] | nzwave[T-18] | nzwave[T-24] | nzwave[T-30] | nzwave[T-36] | nzwave[T-42] | nzwave[T-48] => nzwave """
  
        [[[0]]] 
            graph = """ 
    # NZLAM reconfiguration at 0 UTC
    UM_nzlam_coldstart | UM_nzlam[T-6] => UM_NZtoNZ_recon => UM_nzlam

    # UKMO data
    ext_check_globalwind_ukmet => ext_get_globalwind_ukmet => globalnwp_conv_wind => sls_globalwind_copy
    ext_check_globalice_ukmet => ext_get_globalice_ukmet => globalnwp_conv_ice => sls_globalice_copy

    # Global NWP products and housekeeping
    globalnwp_conv_wind => globalnwp_ncl => globalnwp_products => globalnwp_housekeeping

    # Global wave model, products and housekeeping
    sls_globalwind_copy & sls_globalice_copy => globalwave => globalwave_ncl => globalwave_products => globalwave_housekeeping

    # Global wave cold start
    globalwave_cold | globalwave[T-24] => globalwave #| globalwave[T-48] | globalwave[T-72] | globalwave[T-96] | globalwave[T-120] | globalwave[T-144] => globalwave

    # Statistics
    globalnwp_housekeeping & globalwave_housekeeping & ukmodata_housekeeping & nzwave & nzlam_conv_met & nzlam_conv_tn & nzlam_conv_escape=> cycle_check => cycle_check_transfer """

        [[[12]]]
            graph = """
    # Statistics
    ukmodata_housekeeping & nzwave => cycle_check => cycle_check_transfer """

        [[[6]]]
            graph = """
    # NCEP
    ncep_get => ncep_run => ncep_xml
    ncep_run => ncep_upload_thotter
    ncep_upload_thotter & ncep_xml => ncep_housekeeping
    # SST data from UK MetOffice
    ext_check_sst_ukmet => ext_get_sst_ukmet
    # Statistics
    ukmodata_housekeeping & mos_housekeeping & nzlam_housekeeping & nztide_housekeeping & nzwave_housekeeping & ricom_housekeeping & topnet_housekeeping \
    & ecan_rain_obs & ext_get_sst_ukmet & nzlam_conv_escape & ncep_housekeeping => cycle_check => cycle_check_transfer """

        [[[18]]]
            graph = """
    # Statistics
    ukmodata_housekeeping & mos_housekeeping & nzlam_housekeeping & nztide_housekeeping & nzwave_housekeeping & ricom_housekeeping & topnet_housekeeping \
    & ecan_rain_obs & nzlam_conv_escape => cycle_check => cycle_check_transfer """

[runtime]
    [[root]]
        [[[job submission]]]
            method = loadleveler
        [[[directives]]]
            class = ec_prod1   # Loadleveler class for all Linux tasks 
            wall_clock_limit = "2:00:10,2:00:00"
        [[[environment]]]
            SYS = "${USER##*_}"
            ARCHIVE = /$SYS/archive/ecoconnect
        #[[[event hooks]]]
        #    # note that timeout values are redefined in some tasks
        #    # ALSO: event hooks are ignored by default in simulation mode.
        #    script = nagios.sh
        #    events = started,failed,succeeded,submission_failed,submission_timeout,execution_timeout
        #    submission timeout = 2
        #    execution timeout = 30

    [[UKMO]]
        description = "UK Met Office data retrieval"
%include inc/UKMO.rc

    [[NZLAM]]
        description = "NZ regional UM + DA subsystem"
        [[[environment]]]
%include inc/nzlam-env.rc
%include inc/NZLAM.rc

    [[MOS]]
        description = "NZLAM MOS subsystem"
%include inc/MOS.rc

    [[NZWAVE]]
        description = "NZ regional Wavewatch III model"
%include inc/WAVE.rc

    [[GLOBALWAVE]]
        description = "Global Wavewatch III model"
%include inc/GLOBALWAVE.rc

    [[GLOBALNWP]]
        description = "Global NWP products derived from UKMO data"
%include inc/GLOBALNWP.rc

    [[NZTIDE]]
        description = "NZ regional tide model"
%include inc/NZTIDE.rc

    [[RICOM]]
        description = "RiCOM storm surge model"
%include inc/RICOM.rc

    [[TOPNET]]
        description = "TopNet catchment model"
%include inc/TOPNET.rc

    [[NCEP]]
        description = "NCEP products subsystem"
%include inc/NCEP.rc

    [[CLEANUP]]
        description = "Full system stats and housekeeping"
%include inc/CLEANUP.rc

[visualization]
    #use node color for edges = False
    #collapsed families = NZWAVE, NZTIDE, NCEP, RICOM, TOPNET, MOS, GLOBALWAVE, GLOBALNWP, CLEANUP, UKMO, OPS, VAR, GEN, NZLAM 
    [[node groups]]
        g_ukmet = ext_check_globalwind_ukmet, ext_check_globalice_ukmet, ext_check_bgerr_ukmet, ext_check_obstore_ukmet, ext_check_frames_ukmet, \
		  ext_check_sst_ukmet, ext_get_globalwind_ukmet, ext_get_globalice_ukmet, ext_get_bgerr_ukmet, ext_get_obstore_ukmet, ext_get_frames_ukmet, \
		  ext_get_sst_ukmet, unpack_frames, unpack_obstores, unpack_bgerr, ukmodata_housekeeping
        g_frames = make_alabc
        g_mos = ext_get_clidbdata, mos_nzlam_coeffs, mos_nzlam_apply, mos_nzlam_vp_5day, mos_nzlam_vp_curr, mos_housekeeping, 
        g_topnet = ecan_rain_obs, ext_create_streamflow, ext_get_streamq, tn_llclean, topnet, topnet_ncl, topnet_products, topnet_housekeeping
        g_ricom = ricom, ricom_ncl, ricom_products, ricom_housekeeping
        g_nztide = nztide, nztide_ncl, nztide_products, nztide_housekeeping
        g_nzwave = nzwave, nzwave_ncl, nzwave_products, nzwave_housekeeping
        g_gwave = globalnwp_conv_ice, sls_globalice_copy, globalwave, globalwave_ncl, globalwave_products, globalwave_housekeeping
        g_nwp = globalnwp_conv_wind, sls_globalwind_copy, globalnwp_ncl, globalnwp_products, globalnwp_housekeeping
        g_nzlam = UM_nzlam, get_um_output, nzlam_conv_met, nzlam_conv_sls, nzlam_conv_tn, nzlam_conv_escape, nzlam_ncl, nzlam_products, nzlam_housekeeping
        g_cold = UM_nzlam_coldstart, UM_GLtoNZ_recon, UM_GLtoGL_recon, ext_check_dump_ukmet, ext_get_dump_ukmet, globalwave_cold, \
                topnet_cold, ricom_cold, nzwave_cold
        g_ncep = ncep_get, ncep_run, ncep_upload_thotter, ncep_xml, ncep_products, ncep_housekeeping
        g_var = VAR_ConfigureLS, VAR_AnalysePF, VAR_monitoring
 	    g_cycle = cycle_check, cycle_check_transfer, jobsubmission_housekeeping

    [[node attributes]] 
        g_cold   = "style=bold", "color=blue"
        g_ukmet = "shape=rect", "style=filled", "fillcolor=grey"
        g_mos = "shape=rect", "style=filled", "fillcolor=burlywood2"
        g_frames = "shape=rect", "style=filled", "fillcolor=goldenrod1", "color=red"
        g_nzlam = "shape=rect", "style=filled", "fillcolor=goldenrod1"
        g_topnet = "shape=rect", "style=filled", "fillcolor=cornflowerblue"
        g_ricom = "shape=rect", "style=filled", "fillcolor=tomato2"
        g_nztide = "shape=rect", "style=filled", "fillcolor=cadetblue3"
        g_nzwave = "shape=rect", "style=filled", "fillcolor=darkolivegreen3"
        g_gwave = "shape=rect", "style=filled", "fillcolor=lightblue3"
        g_nwp = "shape=rect", "style=filled", "fillcolor=lightgoldenrod2"
        OPS = "style=filled", "fillcolor=steelblue"
        g_var = "shape=rect", "style=filled", "fillcolor=DarkSeaGreen"
        g_ncep = "shape=rect", "style=filled", "fillcolor=Brown3"
        UM_nzlam = "shape=septagon", "fillcolor=goldenrod1"
        UM_NZtoNZ_recon = "style=filled", "color=red", "fillcolor=goldenrod1", "shape=rect"
        UM_nzlam_coldstart = "shape=septagon", "fillcolor=goldenrod1"
	    g_cycle = "shape=rect", "style=bold", "color=brown"
