[cylc]
    UTC mode = True
    [[event hooks]]
        timeout = 0.1
        abort on timeout = True
[scheduling]
    initial cycle point = 20100101T00
    final cycle point = 20100105T00
    [[dependencies]]
        # T00, T01, T02, ...
        [[[PT1H]]]
            graph = "foo => bar"
        # T04 (depending on T10)
        [[[T04/PT6H]]]
            graph = """
                baz[+PT6H] => bar
                baz
            """
[runtime]
    [[foo]]
        command scripting = false
    [[bar]]
        command scripting = true
