title = "A complex task family example"

description = """
A suite containing families with extra-family dependencies."""

[scheduling]
    [[special task types]]
        sequential = FAMx 

    [[dependencies]]
        [[[12]]]
            graph = """
# main graph:
A => FAMx => B => FAMy => C
# internal:
x1 => x2 
y1 => y2
# extra-family:
v => x1
x1 => w
# member of one family to member of another:
x1 => y1 
                    """
[runtime]
    [[FAMx,FAMy]]
    [[x1,x2]]
        inherit = FAMx
    [[y1,y2]]
        inherit = FAMy

[visualization]
    collapsed families = FAMx, FAMy
    use node color for edges = False
    [[node groups]]
        FAMx = FAMx, x1, x2
        FAMy = FAMy, y1, y2
    [[node attributes]]
        FAMx = 'color=red', 'shape=ellipse'
        FAMy = 'color=blue', 'shape=ellipse'
