#!jinja2
[meta]
    title=Task Event Mail

[cylc]
    [[events]]
        mail footer = see: http://localhost/stuff/%(owner)s/%(suite)s/

[scheduling]
    [[graph]]
        R1=t1

[runtime]
    [[t1]]
        script=test "${CYLC_TASK_TRY_NUMBER}" -eq 2
        [[[job]]]
            execution retry delays = PT1S
        [[[events]]]
            mail events = failed, retry
            mail smtp = {{MAIL_SMTP}}
