#!Jinja2
[cylc]
    [[event hooks]]
        abort on timeout = True
        timeout = 0.5
[scheduling]
    initial cycle time = {{START}}
    final cycle time   = {{START}}
    [[special tasks]]
        clock-triggered = clock(0)
    [[dependencies]]
        [[[{{HOUR}}]]]
            graph = "clock"
[runtime]
    [[clock]]
        command scripting = true

