[cylc]
   [[reference test]]
       required run mode = live
       live mode suite timeout = 1.5 # minutes
[scheduling]
    initial cycle time = 2010010100
    final cycle time = 2010010200
    [[special tasks]]
        start-up = start
    [[dependencies]]
        [[[0, 6]]]
            graph = "start & c[T-6] => a => b => c"
        [[[18]]]
            graph = "c"
[runtime]
    [[a,c,start]]
        command scripting = "sleep 1"
    [[b]]
        command scripting = "cylc reload $CYLC_SUITE_REG_NAME -f; sleep 5"
