#!Jinja2
{% set HOST = environ['CYLC_TEST_BATCH_TASK_HOST'] %}
{% set SITE_DIRECTIVES = environ['CYLC_TEST_BATCH_SITE_DIRECTIVES'] %}
[cylc]
   [[reference test]]
       required run mode = live
       live mode suite timeout = 3.5 # minutes
       expected task failures = rem2.1
[scheduling]
    [[dependencies]]
        graph = """rem1 => rem2
                   rem2:start => killer => !rem2
                   """
[runtime]
    [[PBS_SETTINGS]]
        [[[job submission]]]
            method = pbs
        [[[directives]]]
            -l walltime=00:60:00
            -l cput=00:02:00
            {{SITE_DIRECTIVES}}
        [[[remote]]]
            host = {{ HOST }}
    [[rem1]]
        inherit = PBS_SETTINGS
        script = "sleep 10; true"
    [[rem2]]
        inherit = PBS_SETTINGS
        script = "sleep 30"
    [[killer]]
        script = cylc kill $CYLC_SUITE_NAME rem2 1 -f; sleep 10
