#!jinja2
[cylc]
   abort if any task fails = True
   [[events]]
       abort on inactivity = True
       abort on stalled = True
       inactivity = PT2M
   [[reference test]]
       required run mode = live
       live mode suite timeout = PT30S
       expected task failures = foo.1

[scheduling]
    [[dependencies]]
        graph = foo

[runtime]
    [[foo]]
        script = sleep 10
        [[[job]]]
            batch system = {{CYLC_TEST_BATCH_SYS}}
            execution time limit = PT5S
