[cylc]
    UTC mode = True
    [[events]]
        abort on stalled = True
[scheduling]
    [[dependencies]]
        graph = t1
[runtime]
    [[t1]]
        script = true
        [[[job]]]
            batch system = at
            batch submit command template = at dinnertime
            execution retry delays = PT1M
        [[[events]]]
            submission failed handler = false
            handler retry delays = 2*PT1M
