#!Jinja2
[cylc]
   [[reference test]]
       required run mode=live
       live mode suite timeout=1 # minutes
[scheduling]
    [[dependencies]]
        graph=echo_2 echo_3
[runtime]
    [[ECHO]]
        command scripting=echo $CYLC_TASK_ID
    [[echo_2]]
        inherit=ECHO
        [[[remote]]]
            host={{environ['CYLC_TEST_HOST']}}
    [[echo_3]]
        inherit=ECHO
        [[[remote]]]
            host=`echo {{environ['CYLC_TEST_HOST']}}`
