[scheduling]
    initial cycle time = 2011010100
    final cycle time = 2011010212
    [[dependencies]]
        graph = "prep1 => prep2"
        [[[0,12]]]
            graph = """
    prep2 => foo => bar & baz => waz
    foo[T-12] => foo
                    """

