[cylc]
    cycle point time zone = Z
    [[event hooks]]
        timeout = PT0.1M
        abort on timeout = True
[scheduling]
    runahead limit = PT18H
    initial cycle time = 20100101T00
    final cycle time = 20100105T00
    [[dependencies]]
        [[[PT6H]]]
            graph = "foo => bar"
[runtime]
    [[foo]]
        script = false
    [[bar]]
        script = true
