title = "Hello and Goodbye World!"
[scheduling]
    [[dependencies]]
        graph = "hello => goodbye"
[runtime]
    [[hello]]
        command scripting = "echo Hello World!"
    [[goodbye]]
        command scripting = "echo Goodbye World!"

