#!jinja2

title = "Jinja2 simple ensemble example"
description = "Auto-generation of dependencies for related tasks."

# Note that depending on the structure of the suite you may be able to
# simply use a task family name in the graph to represent the entire
# ensemble (which would be defined by inheritance under [runtime]).

{% set N_MEMBERS = 5 %}
[scheduling]
    [[dependencies]]
        graph = """ {# generate ensemble dependencies #}
        {% for I in range( 0, N_MEMBERS ) %}
          foo => mem_{{ I }} => post_{{ I }} => bar
        {% endfor %}"""
