
description = simple asynchronous example suite

[special tasks]
    daemon = watcher

[dependencies]
    [[asynch:SATID]]
        graph = watcher

[tasks]
    [[watcher]]
        command = watcher.sh
