[[VAR_ConfigureLS]] #---------------------------------------------------
    description = VAR Reconfiguration
    command = VARCLS-wrapper.sh
    [[[environment]]]
        VARUI_JOB_DIR          = $CYLC_SUITE_DIR/jobdirs/var/vaaha
        PPVAR_DIR              = $PREVIOUS_LSBACK_DIR
        VAR_UMBACK_DIR         = $PREVIOUS_LSBACK_DIR
        VAR_LSDUMP_DIR         = $LSDUMP_DIR
        GEN_OUTPUT_DIR         = $LOG_DIR/$TASK_NAME
        GEN_RUN_DIR            = $RUNNING_DIR  
        GEN_BUILD_DIR          = $CYLC_SUITE_DIR/build/var/vaahz

        VARCLS_WRAPPER_OPTIONAL_REPLACEMENTS = \
            VAR_GRID VAR_RC_PPXREFU_DIR UM_STASHMASTER UM_ANCILMASTER VERT_LEV
        VAR_GRID               = $CTRL/VAR/control/Grid/162162_70
        VAR_RC_PPXREFU_DIR     = $CTRL/VAR/control/Var_PPXref/gl_ND/v10

        __UM_CTRL              = $CONTROL_DIR/um/vn7.4/ctldata
        UM_STASHMASTER         = $__UM_CTRL/STASHmaster
        UM_ANCILMASTER         = $__UM_CTRL/ANCILmaster
        VERT_LEV               = $__UM_CTRL/vert/vertlevs_L70_80km
    [[[directives]]]
        environment = COPY_ALL

[[VAR_AnalysePF]] #-----------------------------------------------------
    description = VAR Analysis
    command = VAR-wrapper.sh
    [[[environment]]]
        VARUI_JOB_DIR = $CYLC_SUITE_DIR/jobdirs/var/vaahb
        VAR_OBDIR_LIST         = $VAROB_DIR
        VAR_CXDIR_LIST         = $VARCX_DIR
        VAR_UMANALINC          = $VAR_INCR_FILE
        VAR_LSDUMP_DIR         = $LSDUMP_DIR
        GEN_OUTPUT_DIR         = $LOG_DIR/$TASK_NAME
        GEN_RUN_DIR            = $RUNNING_DIR  
        GEN_BUILD_DIR          = $CYLC_SUITE_DIR/build/var/vaahz

        VAR_WRAPPER_OPTIONAL_REPLACEMENTS = VAR_COVACC VAR_RHPARMS_DIR \
            VAR_SATRADCOEFFS_DIR VAR_RTTOV7COEFFS_DIR VAR_UMGRID VAR_PFRECONGRID
        VAR_COVACC             = $CTRL/Data/Var_CovStats_64/my/N216L70/v1/CovStats
        VAR_RHPARMS_DIR        = $SONDECOEFFS_DIR
        VAR_SATRADCOEFFS_DIR   = $SATRADCOEFFS_DIR
        VAR_RTTOV7COEFFS_DIR   = $RTTOV7COEFFS_DIR
        VAR_UMGRID             = $CTRL/VAR/control/Grid/324324_70
        VAR_PFRECONGRID        = $VAR_GRID
    [[[directives]]]
        environment = COPY_ALL


