            HH  = ${CYCLE_TIME:8:2}
            SRCE    = ftpops.metoffice.gov.uk
            SRCE_LOC    = ~/
            DEST_LOC    = ${HOME}/output
            SRCE_USER   = niwa
            KEEP    = 1
            FAST    = 1
            TIMEOUT = 45
            CHECKSUM    = 1
