
title = 'test suite foo'

coldstart tasks = foo, bar, baz

tasks excluded at startup = xxx, yyy

[ task insertion groups ]
   munge = foo, bar
   gunge = foo,

[ job submission ]
default = background
    [[ overrides ]]
    at now = foo, bar, bz
    
[ environment ]
FOO = BAR
MUNGE = $FOO
FLUNGE = '${FOO##WAZ}'

[ tasks ]

    [[ foo ]]
    type = tied
        [[[ environment ]]]
        foo = bar
        munge = $foo
        flunge = '${foo##waz}'
