#!jinja2
title=pre-trigger-dump
description=Test pre-trigger state dump
[cylc]
    [[reference test]]
        required run mode=live
        live mode suite timeout=1.0
[scheduling]
    [[dependencies]]
        graph=t1=>t2
[runtime]
    [[t1]]
        command scripting=cylc trigger $CYLC_SUITE_REG_NAME t2 1 && sleep 2
    [[t2]]
        command scripting=true
