
title = Cylc userguide example suite

description = """Tasks A.sh, B.sh, C.sh, D.sh, E.sh, F.sh, and X.sh do
not know about cylc, and all use their own configurable input and output
directories (but depend on each other's output files as implied by the
dependency graph)."""

[dependency graph] #----------------------------------------------------
#          > B -> E
#        /     \
# X -> A        -> D
#        \     /
#          > C -> F

label1  =  X -> A -> B ->  E
label2  =  A -> C ->F
label3  =  B -> D
label4  =  C -> D

[environment] #--------------------------------------------------
WORKSPACE = /tmp/$USER
QUOTED_SHELL_PARAMETER_EXPANSION='${WORKSPACE##_.*}'

[ tasks ]
    [[X]] #------------------------------------------------------
    type modifier list = contact,
    contact offset hours = 1
    command list = cylc-wrapper X.sh,
        [[[ environment ]]]
        X_INPUT_DIR = $WORKSPACE
        X_OUTPUT_DIR = $WORKSPACE
 
    [[A]] #------------------------------------------------------
    type = tied
    command list = cylc-wrapper A.sh,
        [[[environment]]]
        A_INPUT_DIR = $WORKSPACE
        A_OUTPUT_DIR = $WORKSPACE

    [[B]] #------------------------------------------------------
    type = tied
    command list = cylc-wrapper B.sh,
        [[[environment]]]
        B_INPUT_DIR = $WORKSPACE
        B_OUTPUT_DIR = $WORKSPACE

    [[C]] #------------------------------------------------------
    type = tied
    command list = cylc-wrapper C.sh,
        [[[environment]]]
        C_INPUT_DIR = $WORKSPACE
        C_OUTPUT_DIR = $WORKSPACE

    [[D]] #------------------------------------------------------
    command list = cylc-wrapper D.sh,
        [[[environment]]]
        D_INPUT_DIR = $WORKSPACE
        D_OUTPUT_DIR = $WORKSPACE
 
    [[E]] #------------------------------------------------------
    command list = cylc-wrapper E.sh,
        [[[environment]]]
        E_INPUT_DIR = $WORKSPACE
        E_OUTPUT_DIR = $WORKSPACE
 
    [[F]] #------------------------------------------------------
    command list = cylc-wrapper F.sh,
        [[[environment]]]
        F_INPUT_DIR = $WORKSPACE
        F_OUTPUT_DIR = $WORKSPACE
