[scheduling]
    initial cycle time = 20120909
    final cycle time   = 20120913

    cycling = Daily
    [[special tasks]]
        cold-start = cfoo
    [[dependencies]]
        graph = waz1 => waz2
        [[[2012090912]]]
            graph = """
cfoo | foo[T-1] => foo => bar
waz2 => foo
                    """
        [[[2012090912, 2]]]
            graph = """
foo => BAZ
                    """
[visualization]
    initial cycle time = 20120909
    final cycle time   = 20120913
    [[node attributes]]
        foo = "color=blue"
        bar = "color=red"
        BAZ = "style=filled", "color=skyblue"

