[scheduling]
    initial cycle time = 2012090900
    final cycle time   = 2012091300

    cycling = Daily
    [[special tasks]]
        cold-start = cfoo
    [[dependencies]]
        graph = waz1 => waz2
        [[[00]]]
            graph = """
cfoo | foo[T-1] => foo => bar
waz2 => foo
                    """
        [[[00,2,20120911]]]
            graph = """
foo => BAZ
                    """
[visualization]
    initial cycle time = 2012091000
    final cycle time   = 2012091300
    [[node attributes]]
        foo = "color=blue"
        bar = "color=red"
        BAZ = "style=filled", "color=skyblue"

