
title = "A test with nested include-files"

[scheduling]
    initial cycle time = 2013010100
    final cycle time = 2013010100
    [[special tasks]]
        start-up = foo
    [[dependencies]]
        [[[0]]]
            graph = "foo => bar"
[runtime]
    [[root]]
        script = "echo Hello World"

[visualization]
    default node attributes = "style=filled"
