[cylc]
    cycle point time zone = Z
    [[reference test]]
        live mode suite timeout = 2.0
[scheduling]
    initial cycle point = 20001231T0100
    final cycle point = 20010114
    [[dependencies]]
        [[[ P1D ]]]
            graph = "foo[-P1D] => foo => bar"
        [[[ P4D ]]]
            graph = "baz[-P4D] => baz => qux"
[runtime]
    [[root]]
        command scripting = true
[visualization]
    initial cycle point = 20001231T0100
    final cycle point = 20010114
