#!jinja2
[cylc]
    UTC mode=True
    [[reference test]]
        live mode suite timeout = PT1M
[scheduling]
    initial cycle point=1970
    final cycle point=1970
    [[dependencies]]
        P1Y=t1
[runtime]
    [[t1]]
        script=true
        [[[remote]]]
            host = $CYLC_TEST_HOST
