[general]
title = REPLACE WITH SUITE TITLE STRING
allow simultaneous instances = False
maximum runahead (hours) = 24

[task insertion groups]

[job submission]
default = background

[global environment]
#----------------------------___--------------_-----------------
# THE FOLLOWING VARIABLES MUST BE CUSTOMIZED FOR YOUR SUITE:
# These variables are used in the taskdef files for the forecast
# model tasks and the two tasks that transfer files to and from
# the remote host.  Note that these values could be hardwired
# into the taskdef files, but doing it this way means that a
# new remote host can be configured entirely from here. 

  # REMOTE HOST FOR THE FORECAST MODEL TASKS
SUPERCOMPUTER = localhost
  # REMOTE FORECAST MODEL TASK OWNER
REMOTE_FC_USER = $USER
  # PATH TO A CYLC INSTALLATION ON THE REMOTE HOST
REMOTE_CYLC_DIR = ${HOME}/cylc
  # PATH TO THE CYLC SUITE DEFINITION DIRECTORY ON THE REMOTE HOST
REMOTE_CYLC_SUITE_DIR = $HOME/cylc/suites/distributed
  # TEMPORARY DIRECTORY TO USE ON THE REMOTE HOST
CYLC_REMOTE_TMPDIR = /tmp/$REMOTE_FC_USER/${CYLC_SUITE_NAME}-remote
