title = "automated failure recovery example"

description = """
Model task failure triggers diagnosis and recovery tasks, which
otherwise take themselves out of the suite if model succeeds.
Model post processing triggers off model or recovery tasks."""

[scheduling]
    initial cycle time = 2011010100
    final cycle time = 2011010112

    [[dependencies]]
        [[[0,12]]]
            graph = """
pre => model
model:fail => diagnose => recover
model => !diagnose & !recover
model | recover => post
                    """
[runtime]
    [[model]]
        description = "A task that succeeds at O UTC and fails at 12 UTC"
        command scripting = """
echo Hello from $CYLC_TASK_ID
sleep 10
if [[ $(cylc util cycletime --print-hour) == 12 ]]; then 
    echo "FAILING NOW!"
    false
else
    echo "Succeeded"
    true
fi"""

