[scheduling]
    initial cycle time = 2010080800
    final cycle time = 2015080800
    cycling = Anniversary
    [[special tasks]]
        cold-start = cfoo
    [[dependencies]]
        [[[0505050000]]]
            # every 5th May at 05:00:00 hours
            graph = """
                cfoo | foo[T-1] => foo => bar
                    """
        [[[0505050000,2,2]]]
            # every second year, starting after 2 years.
            graph = """
                foo => baz
                    """
[visualization]
    initial cycle time = 2010
    final cycle time = 2015

