name: fast tests

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [master]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      matrix:
        os: ['ubuntu-latest']
        python-version: ['3.7', '3.8', '3.9']
        include:
          - os: 'macos-latest'
            python-version: '3.7'

    steps:
      - name: Fudge /etc/hosts
        run: |
          # Add the current IP address, long hostname and short hostname
          # record to /etc/hosts file
          # https://github.com/actions/virtual-environments/issues/3185
          echo -e \
            "$(ip addr show eth0 \
            | grep "inet\b" \
            | awk '{print $2}' \
            | cut -d/ -f1)\t$(hostname -f) $(hostname -s)" \
            | sudo tee -a /etc/hosts

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2  # required by codecov

      - name: Configure Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Brew Install
        if: startsWith(matrix.os, 'macos')
        run: |
          # apply DNS patch
          patch cylc/flow/hostuserutil.py < etc/conf/macos-patch

          brew update
          brew install shellcheck sqlite3 bash coreutils

          # add GNU coreutils and sed to the user PATH
          # (see instructions in brew install output)
          echo \
            "$(brew --prefix)/opt/coreutils/libexec/gnubin" \
            >> "${GITHUB_PATH}"

      - name: Apt-Get Install
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get install -y shellcheck sqlite3

      - name: Install
        run: |
          pip install ."[all]"

      - name: Configure git  # Needed by the odd test
        uses: cylc/release-actions/configure-git@v1

      - name: style
        run: |
          pycodestyle
          flake8
          etc/bin/shellchecker

      - name: typing
        run: |
          mypy --explicit-package-bases
        # Need --explicit-package-bases because we don't have __init__.py in
        # top-level dir

      - name: Doctests
        run: |
          pytest --cov --cov-append -n 5 cylc/flow

      - name: Unit Tests
        run: |
          pytest --cov --cov-append -n 5 tests/unit

      - name: Integration Tests
        run: |
          pytest --cov --cov-append -n 5 tests/integration

      - name: Coverage
        run: |
          coverage report
          bash <(curl -s https://codecov.io/bash)
