name: test

on: [pull_request]


jobs:
  fast-tests:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    timeout-minutes: 15
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9']
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Apt-Get
        run: |
          sudo apt-get update
          sudo apt-get install -y shellcheck sqlite3

      - name: Install
        run: |
          pip install ."[all]"

      - name: Style
        run: |
          pycodestyle
          flake8
          etc/bin/shellchecker

      - name: Unit Tests
        run: |
          pytest -n 5 tests/unit

      - name: Integration Tests
        run: |
          pytest -n 5 tests/integration

      - name: Doctests
        run: |
          pytest -n 5 cylc/flow


  functional-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.7']
        tests: [
          ['tests/f', '1/4', 'local_background_indep_tcp'],
          ['tests/f', '2/4', 'local_background_indep_tcp'],
          ['tests/f', '3/4', 'local_background_indep_tcp'],
          ['tests/f', '4/4', 'local_background_indep_tcp'],
          ['tests/k', '1/1', 'local_background_indep_tcp'],
          ['tests/f tests/k', '1/1', 'remote_background_indep_poll'],
          ['tests/f tests/k', '1/1', 'remote_background_indep_tcp']
        ]
    env:
      BASE: ${{ matrix.tests[0] }}
      CHUNK: ${{ matrix.tests[1] }}
      PLATFORM: ${{ matrix.tests[2] }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Apt-Get
        run: |
          sudo apt-get update
          sudo apt-get install -y sqlite3

      - name: Add .github/bin/ to PATH
        # Sets up mocked mail command & any other custom executables
        run: echo "${{ github.workspace }}/.github/bin" >> $GITHUB_PATH

      - name: Install
        run: |
          pip install ."[all]"
          mkdir "$HOME/cylc-run"

      - name: Swarm
        run: |
          etc/bin/swarm --yes --debug configure
          # actions doesn't seem to read ~/.ssh/config for some reason
          #sudo cat $HOME/.ssh/config >> /etc/ssh/ssh_config
          echo '--------------------------------1'
          cat $HOME/.ssh/config || true
          echo '--------------------------------2'
          cp etc/conf/ssh_config $HOME/.ssh/config
          echo '--------------------------------3'
          cat $HOME/.ssh/config
          echo '--------------------------------4'
          etc/bin/swarm --yes --debug build
          etc/bin/swarm --yes --debug run
          sleep 1
          ssh -V
          cat $HOME/.ssh/config
          ssh -vv _remote_background_indep_poll hostname

      - name: Test
        run: |
          # Use non-UTC time zone
          export TZ=XXX-05:30

          if [[ "${BASE}" == 'tests/k' ]]; then
              NPROC=4
          else
              NPROC=8
          fi
          # NOTE: $BASE is purposefully un-quoted
          etc/bin/run-functional-tests \
              --platform "${PLATFORM}" \
              -j "${NPROC}" \
              --state=save ${BASE} \
          || (
              echo '=== Re-running Failed Tests ==='
              CHUNK= etc/bin/run-functional-tests \
                  --platform "${PLATFORM}" \
                  -j "${NPROC}" \
                  --state=save,failed
          )

      - name: Shutdown
        if: always()
        run: |
          etc/bin/swarm kill

      - name: Debug
        if: failure()
        run: |
          cylc scan
          find "$HOME/cylc-run" -name '*.err' -type f \
              -exec echo '==== {} ====' \; -exec cat '{}' \;
          find "$HOME/cylc-run" -name 'log.*' -type f \
              -exec echo '==== {} ====' \; -exec cat '{}' \;
          find "${TMPDIR:-/tmp}/${USER}/cylctb-"* -type f \
              -exec echo '==== {} ====' \; -exec cat '{}' \;
