name: fast tests

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      fail-fast: false # Don't let a failed MacOS run stop the Ubuntu runs
      matrix:
        os: ['ubuntu-latest']
        python-version: ['3.7', '3.8', '3.9']
        include:
          - os: 'macos-latest'
            python-version: '3.7'
    env:
      PYTEST_ADDOPTS: --cov --cov-append -n 5 --color=yes -m "linktest or not linktest"

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Brew Install
        if: startsWith(matrix.os, 'macos')
        run: |
          # speed up install (https://docs.brew.sh/Manpage#environment)
          export HOMEBREW_NO_AUTO_UPDATE=1 HOMEBREW_NO_INSTALL_CLEANUP=1
          echo "[command]brew update"
          brew update
          echo "[command]brew install ..."
          brew install bash coreutils
          # add GNU coreutils and sed to the user PATH
          # (see instructions in brew install output)
          echo "$(brew --prefix)/opt/coreutils/libexec/gnubin" \
            >> "${GITHUB_PATH}"

      - name: Apt-Get Install
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get install -y shellcheck sqlite3

      - name: Install
        run: |
          pip install -e ."[all]"

      - name: Configure git  # Needed by the odd test
        uses: cylc/release-actions/configure-git@v1

      - name: Style
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          flake8
          etc/bin/shellchecker

      - name: Typing
        if: startsWith(matrix.os, 'ubuntu')
        run: mypy

      - name: Doctests
        timeout-minutes: 4
        run: |
          pytest cylc/flow

      - name: Unit Tests
        timeout-minutes: 4
        run: |
          pytest tests/unit

      - name: Bandit
        if: ${{ matrix.python-version == '3.7' }}
        # https://github.com/PyCQA/bandit/issues/658
        run: |
          bandit -r --ini .bandit cylc/flow

      - name: Integration Tests
        timeout-minutes: 6
        run: |
          pytest tests/integration

      - name: Upload artifact
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: cylc-run (${{ matrix.os }} py-${{ matrix.python-version }})
          path: ~/cylc-run/

      - name: Coverage report
        run: |
          coverage xml
          coverage report

      - name: Codecov upload
        uses: codecov/codecov-action@v3
        with:
          name: '${{ github.workflow }} ${{ matrix.os }} py-${{ matrix.python-version }}'
          flags: fast-tests
          fail_ci_if_error: true
