title = "Job script: no directives test for SLURM"

[cylc]

[scheduling]
    [[dependencies]]
        graph = foo

[runtime]
    [[foo]]
        script = echo hello
        [[[job submission]]]
            method = slurm
